<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.sy.service.Impl.LALM0836Mapper">

<!-- 지역 셀렉트박스 생성 -->
<select id="LALM0836_selBzplcloc" resultType="hashMap">
	SELECT 
		DISTINCT NA_BZPLCLOC  /* 사업장 지역코드    */
		, CASE 	WHEN NA_BZPLCLOC = 'A31' THEN '경기/인천'   /* 지역이름 */
				WHEN NA_BZPLCLOC = 'A33' THEN '강원'
				WHEN NA_BZPLCLOC = 'A41' THEN '충남'
				WHEN NA_BZPLCLOC = 'A43' THEN '충북'
				WHEN NA_BZPLCLOC = 'A52' THEN '울산'
				WHEN NA_BZPLCLOC = 'A55' THEN '경남'
				WHEN NA_BZPLCLOC = 'A54' THEN '경북'
				WHEN NA_BZPLCLOC = 'A61' THEN '전남'
				WHEN NA_BZPLCLOC = 'A63' THEN '전북'
				WHEN NA_BZPLCLOC = 'A64' THEN '제주'
			ELSE '' END NA_BZPLCLOC_NM
	FROM TB_LA_IS_BM_BZLOC
	WHERE NA_BZPLCLOC IS NOT NULL
	ORDER BY NA_BZPLCLOC_NM
</select>

<!-- 조합이름 조회 -->
<select id="LALM0836_selClntnm" resultType="hashMap">
	SELECT 
		CLNTNM          /* 사업장명           */ 
		,NA_BZPLCNO /* 사업장 번호           */ 
		,NA_BZPLC      /*사업장 코드*/
		,AREANM /*지역명*/
	FROM TB_LA_IS_BM_BZLOC
	WHERE NA_BZPLCLOC = #{na_bzplcloc}
	ORDER BY CLNTNM
</select>

<!-- 선택된 조합의 정보 조회 -->
<select id="LALM0836_selTelAddress" resultType="hashMap">
 SELECT 
 		A.NA_BZPLC /* 사업장코드  */
 		, DECODE(A.TEL_NO,NULL,C.TELNO,A.TEL_NO) AS TELNO    /* 전화번호 */
 		, DECODE(B.DONGUP,NULL,C.ADDR1,B.DONGUP) AS ADDR1    /* 동이상 주소- 조합주소 기본*/
 		, DECODE(B.DONGBW,NULL,C.ADDR2,B.DONGBW) AS ADDR2   /* 동이하 주소- 조합주소 상세*/
 		, SCHE_DT_GB
 FROM TB_LA_IS_BM_BZLOC A 
	  	LEFT JOIN TB_LA_IS_MM_WMC B ON (A.NA_BZPLC = B.NA_BZPLC) 
	  	LEFT JOIN TB_LA_IS_MM_BZSCH C ON (A.NA_BZPLC = C.NA_BZPLC)
WHERE A.NA_BZPLCNO = #{na_bzplcno}
</select>

<!--   main table 삭제 -->
<delete id="LALM0836_delMainTable" >
	DELETE FROM TB_LA_IS_MM_BZSCH
   	WHERE NA_BZPLC            = #{na_bzplc}
   	   AND NA_BZPLCLOC        = #{na_bzplcloc}
</delete>

<!--   sub table 삭제 -->
<delete id="LALM0836_delSubTable" >
	DELETE FROM TB_LA_IS_MM_BZSCHDET
   	WHERE NA_BZPLC            = #{na_bzplc}
   	   AND NA_BZPLCLOC        = #{na_bzplcloc}
   	   AND AUC_OBJ_DSC = #{hd_auc_obj_dsc}
</delete>


<!-- 메인테이블 삽입 -->
<insert id="LALM0836_insMainTable" parameterType="Map">
	INSERT INTO TB_LA_IS_MM_BZSCH(
		NA_BZPLCLOC            /* 지역코드         */
		, NA_BZPLC                 /* 경제통합사업장코드         */
		, AUCDT_DET              /* 거래일 상세정보         */
		, SCHE_DT_GB             /* 등록일자구분 지정일:1, 지정요일2         */
		, TELNO                       /* 조합전화번호         */
		, ZIPCODE                    /* 우편번호 : null값 넣으면됨.         */
		, ADDR1                       /* 조합 주소 기본         */
		, ADDR2                       /* 조합 주소 상세         */
		, FSRG_DTM                 /* 최초등록일시         */
		, FSRGMN_ENO           /* 최초등록자개인번호         */
		, LSCHG_DTM               /* 최초변경일시         */
		, LS_CMENO                 /* 최종변경자개인번호         */
	)VALUES(
		#{na_bzplcloc}             /* 지역코드         */
		,#{na_bzplc}                 /* 경제통합사업장코드         */
		,#{aucdt_det}               /* 거래일 상세정보         */
		,#{sche_dt_gb}            /* 등록일자구분 지정일:1, 지정요일2         */
		,#{telno}                      /* 조합전화번호         */
		,null                              /* 우편번호 : null값 넣으면됨.         */
		,#{addr1}                      /* 조합 주소 기본         */
		,#{addr2}                      /* 조합 주소 상세         */
		,SYSDATE                     /* 최초등록일시         */
		,#{ss_userid}                 /* 최초등록자개인번호         */
		,SYSDATE                     /* 최초변경일시         */
		,#{ss_userid}                 /* 최종변경자개인번호         */
		)
</insert>

<!--  서브테이블 인서트 -->
<insert id="LALM0836_insSubTable" parameterType="Map">
INSERT INTO TB_LA_IS_MM_BZSCHDET(
	NA_BZPLCLOC                /* 지역코드         */
	, NA_BZPLC						 /* 경제통합사업장코드         */
	, AUC_OBJ_DSC				 /* 경매대상 구분코드         */
	, SCHE_DT						 /* 지정일자         */
	, SCHE_WEEK					 /* 지정주차(1~5주차)         */
	, SCHE_DOTW				 /* 지정요일         */
	, FSRG_DTM					 /* 최초등록일시         */
	, FSRGMN_ENO				 /* 최초 등록자 개인번호         */
	, LSCHG_DTM					 /* 최종변경일시         */
	, LS_CMENO					 /* 최종변경자개인번호         */
	, REG_SEQ						 /* 등록순번         */
)VALUES
	<choose>
		<when  test="sche_dt_gb == 1"> /* 지정일자 선택시*/
			(
			#{na_bzplcloc}		 	/* 지역코드         */
			,#{na_bzplc}				/* 경제통합사업장코드         */
			,#{hd_auc_obj_dsc}	/* 경매대상 구분코드         */
			,#{sche_dt}      		 	/*  지정일자 */
			,null								/* 지정주차(1~5주차)         */
			,null								 /* 지정요일         */
			,SYSDATE					 /* 최초등록일시         */
			,#{ss_userid}				 /* 최초 등록자 개인번호         */
			,SYSDATE				     /* 최종변경일시         */
			,#{ss_userid}				/* 최종변경자개인번호         */
			,(SELECT NVL(MAX(REG_SEQ),0)+1 
				FROM TB_LA_IS_MM_BZSCHDET
				WHERE NA_BZPLC            = #{na_bzplc}
			   AND NA_BZPLCLOC        = #{na_bzplcloc}
		   	   AND AUC_OBJ_DSC = #{hd_auc_obj_dsc}) 			/* 등록순번         */
			)
		</when>
		<otherwise>
			(
			#{na_bzplcloc}			/* 지역코드         */
			,#{na_bzplc}				/* 경제통합사업장코드         */
			,#{hd_auc_obj_dsc}   /* 경매대상 구분코드         */
			, null							/*  지정일자 */
			,#{sche_week}				/* 지정주차(1~5주차)         */
			,#{sche_dotw}				 /* 지정요일  1:일 ..... 7:토       */
			,SYSDATE					 /* 최초등록일시         */
			,#{ss_userid}				/* 최초 등록자 개인번호         */
			,SYSDATE					 /* 최종변경일시         */
			,#{ss_userid}				/* 최종변경자개인번호         */
			,(SELECT NVL(MAX(REG_SEQ),0)+1 FROM TB_LA_IS_MM_BZSCHDET
				WHERE NA_BZPLC            = #{na_bzplc}
			   AND NA_BZPLCLOC        = #{na_bzplcloc}
		   	   AND AUC_OBJ_DSC = #{hd_auc_obj_dsc}) 						/* 등록순번         */
			)
		</otherwise>
	</choose>
</insert>
  
  <!-- 쿼리그리드 조회 -->
<select id="LALM0836_SelAucInfo" resultType="hashMap" parameterType="Map">
	SELECT  C.LOCNM																																	/* 지역이름   */
		, C.CLNTNM																																	/* 조합이름   */
		, CASE WHEN B.AUC_OBJ_DSC = '1' THEN '송아지' 																/* 경매구분 이름   */
		          WHEN B.AUC_OBJ_DSC = '2' THEN '비육우'
		          WHEN B.AUC_OBJ_DSC = '3' THEN '번식우' 
		          ELSE '일괄' END HD_AUC_OBJ_DSC		
		,CASE WHEN A.SCHE_DT_GB = '2' AND  B.SCHE_DT_ORI = '1' THEN '일요일'								/* 요일   */
			 WHEN A.SCHE_DT_GB = '2' AND  B.SCHE_DT_ORI = '2' THEN '월요일'
			 WHEN A.SCHE_DT_GB = '2' AND  B.SCHE_DT_ORI = '3' THEN '화요일'
			 WHEN A.SCHE_DT_GB = '2' AND  B.SCHE_DT_ORI = '4' THEN '수요일'
			 WHEN A.SCHE_DT_GB = '2' AND  B.SCHE_DT_ORI = '5' THEN '목요일'
			 WHEN A.SCHE_DT_GB = '2' AND  B.SCHE_DT_ORI = '6' THEN '금요일'
			 WHEN A.SCHE_DT_GB = '2' AND  B.SCHE_DT_ORI = '7' THEN '토요일'
		ELSE B.SCHE_DT END AUC_DATE
		, B.SCHE_WEEK																												            	/* 가공된 주    */
		, B.SCHE_WEEK_ORI																														/* 가공안된 주   */
		, B.SCHE_DT_ORI																															/* 가공안된 주   */
		, TO_CHAR(A.FSRG_DTM,'YYYY.MM.DD') FSRG_DTM																/* 등록일자   */
		, CASE WHEN A.FSRGMN_ENO = 'admin' THEN '관리자' ELSE '' END LS_CMENO				/* 등록자   */
		, A.NA_BZPLC																																	/* 사업장코드   */
		, A.NA_BZPLCLOC																															/* 사업장 지역코드   */
		, C.NA_BZPLCNO																															/* 사업장번호   */
		,A.SCHE_DT_GB																																/* 등록일자구분   */
		,B.AUC_OBJ_DSC																															/* 경매구분  데이터 */
		, A.AUCDT_DET																																/* 거래일 상제정보 */
		, A.ADDR1																																		/* 동이상주소 */
		, A.ADDR2																																		/* 동이하주소 */
		, A.TELNO																																		/* 조합전화번호 */
	FROM TB_LA_IS_MM_BZSCH A
	LEFT OUTER JOIN (
		SELECT NA_BZPLC
			  , AUC_OBJ_DSC
			  , REGEXP_REPLACE(LISTAGG(SCHE_WEEK,',')WITHIN GROUP (ORDER BY SCHE_WEEK),'([^,]+)(,\1)*(,|$)','\1\3')AS SCHE_WEEK
			  , REGEXP_REPLACE(LISTAGG(SCHE_WEEK_ORI,',')WITHIN GROUP (ORDER BY SCHE_WEEK),'([^,]+)(,\1)*(,|$)','\1\3')AS SCHE_WEEK_ORI
			  , REGEXP_REPLACE(LISTAGG(SCHE_DT,'일,')WITHIN GROUP (ORDER BY SCHE_DT),'([^,]+)(,\1)*(,|$)','\1\3')||'일' AS SCHE_DT
			  , REGEXP_REPLACE(LISTAGG(SCHE_DT_ORI,',')WITHIN GROUP (ORDER BY SCHE_DT),'([^,]+)(,\1)*(,|$)','\1\3') AS SCHE_DT_ORI
		FROM (
			SELECT A.NA_BZPLC, B.AUC_OBJ_DSC 
				,CASE 
					WHEN A.SCHE_DT_GB = '1' THEN '지정일'
					WHEN A.SCHE_DT_GB = '2' THEN B.SCHE_WEEK || '주'
				ELSE '' END SCHE_WEEK
				,CASE 
					WHEN A.SCHE_DT_GB = '1' THEN '지정일'
					WHEN A.SCHE_DT_GB = '2' THEN B.SCHE_WEEK
				ELSE '' END SCHE_WEEK_ORI
				,CASE 
					WHEN A.SCHE_DT_GB = '1' THEN B.SCHE_DT
					WHEN A.SCHE_DT_GB = '2' THEN TO_NUMBER(B.SCHE_DOTW)
				ELSE '' END SCHE_DT
				,CASE 
					WHEN A.SCHE_DT_GB = '1' THEN B.SCHE_DT
					WHEN A.SCHE_DT_GB = '2' THEN TO_NUMBER(B.SCHE_DOTW)
				ELSE '' END SCHE_DT_ORI
				FROM TB_LA_IS_MM_BZSCH A
					LEFT OUTER JOIN TB_LA_IS_MM_BZSCHDET B 
					ON (A.NA_BZPLC = B.NA_BZPLC)
			 )
		GROUP BY NA_BZPLC, AUC_OBJ_DSC
	) B 
	ON (A.NA_BZPLC = B.NA_BZPLC)
	INNER JOIN TB_LA_IS_BM_BZLOC C
	ON (A.NA_BZPLCLOC = C.NA_BZPLCLOC AND A.NA_BZPLC = C.NA_BZPLC)
	<if test="search_clntnm != null and search_clntnm != ''">
		WHERE C.CLNTNM LIKE '%'||#{search_clntnm}||'%'
	</if>
	ORDER BY   C.AREANM,C.CLNTNM,AUC_OBJ_DSC,AUC_DATE
</select>

<!-- 서브테이블조회 -->
<select id="LALM0836_selSubTable" resultType="hashMap" >
	 SELECT *
	 FROM TB_LA_IS_MM_BZSCHDET
	 WHERE NA_BZPLC = #{na_bzplc}
</select>

  
  
 </mapper>