<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.ar.service.Impl.LALM0228Mapper">

	<!-- 알림톡 템플릿 리스트 조회 경매종료 or 출하자 -->
	<select id="LALM0228_selList" parameterType="hashMap" resultType="hashMap">
		SELECT A.NA_BZPLC
				, E.CLNTNM
				, A.SRA_INDV_AMNNO
				, SUBSTR(A.SRA_INDV_AMNNO ,1,3) ||'-'||SUBSTR(A.SRA_INDV_AMNNO ,4,3) ||'-'|| SUBSTR(A.SRA_INDV_AMNNO ,7,4) ||'-'||SUBSTR(A.SRA_INDV_AMNNO ,11,4) ||'-'||SUBSTR(A.SRA_INDV_AMNNO ,15,1) SRA_INDV_AMNNO_FORMAT3
				, SUBSTR(A.SRA_INDV_AMNNO ,7,4) ||'-'||SUBSTR(A.SRA_INDV_AMNNO ,11,4) ||'-'||SUBSTR(A.SRA_INDV_AMNNO ,15,1) SRA_INDV_AMNNO_FORMAT2
				, SUBSTR(A.SRA_INDV_AMNNO ,4,3) ||'-' || SUBSTR(A.SRA_INDV_AMNNO ,7,4) ||'-'||SUBSTR(A.SRA_INDV_AMNNO ,11,4) ||'-'||SUBSTR(A.SRA_INDV_AMNNO ,15,1) SRA_INDV_AMNNO_FORMAT
				, A.AUC_DT
				, SUBSTR(A.AUC_DT, 0,4) || '년 ' || SUBSTR(A.AUC_DT, 5,2) || '월 ' || SUBSTR(A.AUC_DT, 7,2) || '일' AS AUC_DT_STR
				, A.AUC_OBJ_DSC
				, I.SIMP_CNM AS AUC_OBJ_DSC_NM
				, A.AUC_PRG_SQ
				, D.FTSNM
				, B.INDV_SEX_C
				, H.SIMP_CNM AS INDV_SEX_C_NM
				, NVL(A.COW_SOG_WT,0) COW_SOG_WT
				, NVL(A.LOWS_SBID_LMT_AM,0) LOWS_SBID_LMT_AM
				, NVL(A.SRA_SBID_AM,0) SRA_SBID_AM
				, TO_CHAR(NVL(A.LOWS_SBID_LMT_AM,0),'FM999,999,999') LOWS_SBID_LMT_AM_FORMAT
				, TO_CHAR(NVL(A.SRA_SBID_AM,0),'FM999,999,999') SRA_SBID_AM_FORMAT
				, NVL(MIN(DECODE(A.SEL_STS_DSC, '22', A.SRA_SBID_AM)) OVER(PARTITION BY A.NA_BZPLC, A.AUC_OBJ_DSC, A.AUC_DT),0) AS MIN_SRA_SBID_AM
				, NVL(MAX(DECODE(A.SEL_STS_DSC, '22', A.SRA_SBID_AM)) OVER(PARTITION BY A.NA_BZPLC, A.AUC_OBJ_DSC, A.AUC_DT),0) AS MAX_SRA_SBID_AM
				, NVL(DECODE(#{obj_gbn},'2',D.CUS_MPNO,C.CUS_MPNO),'') AS CUS_MPNO
				, NVL(TRIM(DECODE(#{obj_gbn},'2',D.FTSNM,C.SRA_MWMNNM)),'') AS REVE_USR_NM
				, NVL(F.TMS_YN, 'N') AS TMS_YN
				, NVL(F.SMS_FWDG_DT, '') AS SMS_FWDG_DT
				, C.SRA_MWMNNM
				, G.TELNO CLNT_TELNO
				, A.AUC_DT || LPAD(A.OSLP_NO, 4, '0') || NVL(#{sms_key},0) SMS_SEND_KEY
				, G.BRC AS ADJ_BRC
		FROM
			TB_LA_IS_MH_SOG_COW A
			INNER JOIN TB_LA_IS_MM_INDV B
			ON (
				A.NA_BZPLC = B.NA_BZPLC
				AND A.SRA_INDV_AMNNO = B.SRA_INDV_AMNNO
				AND A.SRA_SRS_DSC = B.SRA_SRS_DSC
			)
			LEFT JOIN TB_LA_IS_MM_MWMN C
			ON (
				A.NA_BZPLC = C.NA_BZPLC
				AND A.TRMN_AMNNO = C.TRMN_AMNNO
			)
			LEFT JOIN TB_LA_IS_MM_FHS D
			ON (
				A.NA_BZPLC = D.NA_BZPLC 
				AND A.FHS_ID_NO = D.FHS_ID_NO 
				AND A.FARM_AMNNO = D.FARM_AMNNO
			)
			INNER JOIN TB_LA_IS_BM_BZLOC E ON A.NA_BZPLC = E.NA_BZPLC
			INNER JOIN TB_LA_IS_MM_WMC G ON A.NA_BZPLC = G.NA_BZPLC
			LEFT JOIN TB_LA_IS_MM_SMS F
			ON (
				A.NA_BZPLC = F.NA_BZPLC
				AND F.AUC_OBJ_DSC = #{auc_obj_dsc}
				AND F.TRMN_AMNNO = A.AUC_DT || LPAD(A.OSLP_NO, 4, '0') || NVL(#{sms_key},0)
				AND F.DPAMN_DSC = #{obj_gbn} 
				AND F.SEL_STS_DSC = #{msg_gbn}
				AND TMS_TYPE = '02'
			)
			LEFT OUTER JOIN (
				SELECT SIMP_C, SIMP_CNM
				FROM TB_LA_IS_MH_COMN_APL
				WHERE SIMP_TPC = 'INDV_SEX_C'
				AND SIMP_C_GRP_SQNO = '1'
			) H
			ON (
			H.SIMP_C = B.INDV_SEX_C
			)
			LEFT OUTER JOIN (
				SELECT SIMP_C, SIMP_CNM
				FROM TB_LA_IS_MH_COMN_APL
				WHERE SIMP_TPC = 'AUC_OBJ_DSC'
				AND SIMP_C_GRP_SQNO = '7'
			) I
			ON (
				I.SIMP_C = A.AUC_OBJ_DSC
			)
			WHERE A.NA_BZPLC = #{ss_na_bzplc}
				AND A.AUC_OBJ_DSC =  DECODE(#{auc_obj_dsc},'0',A.AUC_OBJ_DSC,#{auc_obj_dsc})
				AND A.AUC_DT = #{auc_dt}
				<if test ="!'01'.toString().equals(msg_gbn) and !'00'.toString().equals(msg_gbn)">
					AND A.SEL_STS_DSC = '22'
				</if>
				<if test ="!'00'.toString().equals(msg_gbn)">
					AND A.LOWS_SBID_LMT_AM <![CDATA[>]]> 0	
				</if>
				AND LENGTH(NVL(DECODE(#{obj_gbn},'2',D.CUS_MPNO,C.CUS_MPNO),'')) <![CDATA[>=]]> 10	
				AND LENGTH(REGEXP_REPLACE(NVL(DECODE(#{obj_gbn},'2',D.CUS_MPNO,C.CUS_MPNO),''), '[^0-9]')) <![CDATA[>=]]> 10
			ORDER BY A.AUC_PRG_SQ, D.FTSNM
	</select>
	
 
	<!-- 알림톡 템플릿 리스트 조회 경매예정-->
	<select id="LALM0228_selList2" parameterType="hashMap" resultType="hashMap">
		SELECT
			C.NA_BZPLC
			, E.CLNTNM
			, G.TELNO CLNT_TELNO
			, #{auc_dt} AUC_DT
			, SUBSTR(#{auc_dt}, 0,4) || '년 ' || SUBSTR(#{auc_dt}, 5,2) || '월 ' || SUBSTR(#{auc_dt}, 7,2) || '일' AS AUC_DT_STR			
			, C.SRA_MWMNNM REVE_USR_NM
			, NVL(F.TMS_YN, 'N') AS TMS_YN
			, NVL(F.SMS_FWDG_DT, '') AS SMS_FWDG_DT
			, NVL(C.CUS_MPNO,'') CUS_MPNO
			, #{auc_dt} || LPAD(C.TRMN_AMNNO, 4, '0') || NVL(#{sms_key},0) SMS_SEND_KEY
			, G.BRC AS ADJ_BRC
		FROM TB_LA_IS_MM_MWMN C 
		INNER JOIN TB_LA_IS_MH_AUC_QCN D
		  ON (
				C.NA_BZPLC = D.NA_BZPLC
				AND D.AUC_DT =#{auc_dt}
				AND DECODE(D.AUC_OBJ_DSC,'0',#{auc_obj_dsc},D.AUC_OBJ_DSC) = #{auc_obj_dsc}
		  )
		INNER JOIN TB_LA_IS_BM_BZLOC E ON C.NA_BZPLC = E.NA_BZPLC
		INNER JOIN TB_LA_IS_MM_WMC G ON C.NA_BZPLC = G.NA_BZPLC
		LEFT JOIN TB_LA_IS_MM_SMS F 
		  ON (
				C.NA_BZPLC = F.NA_BZPLC
				AND F.AUC_OBJ_DSC = #{auc_obj_dsc}
				AND F.TRMN_AMNNO = #{auc_dt} || LPAD(C.TRMN_AMNNO, 4, '0') || NVL(#{sms_key},0)
				AND F.DPAMN_DSC = '1'
				AND F.SEL_STS_DSC = '01'
				AND F.TMS_TYPE = '02'
		  )
		WHERE C.NA_BZPLC = #{ss_na_bzplc}
			AND C.DEL_YN = '0'
			AND LENGTH(REPLACE(NVL(C.CUS_MPNO,''), '-', '')) <![CDATA[>=]]> 10	
			AND LENGTH(REGEXP_REPLACE(NVL(C.CUS_MPNO,''), '[^0-9]')) <![CDATA[>=]]> 10
	</select>
	
	<!-- 알림톡 템플릿 리스트 조회 응찰자 정산서 -->
	<select id="LALM0228_selList3" parameterType="hashMap" resultType="hashMap">
		SELECT T.*
				, E.CLNTNM
				, NVL(F.TMS_YN, 'N') AS TMS_YN
				, NVL(F.SMS_FWDG_DT, '') AS SMS_FWDG_DT
				, G.TELNO CLNT_TELNO
				, G.BRC AS ADJ_BRC
				, C.SIMP_CNM AS BANK_NM
				, G.ACNO
				, T.AUC_DT
				, SUBSTR(T.AUC_DT, 0,4) || '년 ' || SUBSTR(T.AUC_DT, 5,2) || '월 ' || SUBSTR(T.AUC_DT, 7,2) || '일' AS AUC_DT_STR		
				, NVL(D.CUS_MPNO,'') AS CUS_MPNO
				, NVL(TRIM(D.SRA_MWMNNM),'') AS REVE_USR_NM
				, T.TOT_SRA_SBID_AM + T.TOT_SRA_TR_FEE AS TOT_AM
				, T.AUC_DT || LPAD(T.TRMN_AMNNO, 4, '0') || NVL(#{sms_key},0) SMS_SEND_KEY
		FROM (
					SELECT A.NA_BZPLC
							, ${auc_obj_dsc} AUC_OBJ_DSC
							, A.AUC_DT
							, A.TRMN_AMNNO
							, COUNT(*) AS TOT_CNT
							, SUM(NVL(A.SRA_SBID_AM,0)) AS TOT_SRA_SBID_AM
						 	, SUM(NVL(C.SRA_TR_FEE,0)) AS TOT_SRA_TR_FEE
					FROM TB_LA_IS_MH_SOG_COW A
					INNER JOIN TB_LA_IS_MM_INDV B ON A.NA_BZPLC = B.NA_BZPLC
															AND A.SRA_INDV_AMNNO = B.SRA_INDV_AMNNO
															AND A.SRA_SRS_DSC = B.SRA_SRS_DSC
					LEFT JOIN (
							SELECT SUM(NVL(SRA_TR_FEE, 0)* DECODE(ANS_DSC, 1, 1, -1) ) AS SRA_TR_FEE
					      			, NA_BZPLC
					      			, AUC_OBJ_DSC
					      			, AUC_DT
					      			, OSLP_NO
					      			, LED_SQNO
					      			, FEE_APL_OBJ_C
					      	FROM TB_LA_IS_MH_FEE_IMPS
					       	WHERE FEE_APL_OBJ_C = '2'
				       			AND AUC_DT = #{auc_dt}
				        		AND NA_BZPLC = #{ss_na_bzplc}
				        		AND AUC_OBJ_DSC = DECODE(#{auc_obj_dsc},'0',AUC_OBJ_DSC,#{auc_obj_dsc})
			       			GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO, LED_SQNO, FEE_APL_OBJ_C
						) C ON A.NA_BZPLC = C.NA_BZPLC
				             AND A.AUC_OBJ_DSC = C.AUC_OBJ_DSC
				             AND A.AUC_DT = C.AUC_DT
				             AND A.OSLP_NO = C.OSLP_NO
				             AND A.LED_SQNO = C.LED_SQNO
					WHERE 1=1
						AND A.NA_BZPLC = #{ss_na_bzplc}
						AND A.AUC_DT = #{auc_dt}
						AND A.AUC_OBJ_DSC = DECODE(#{auc_obj_dsc},'0',A.AUC_OBJ_DSC,#{auc_obj_dsc})
						AND A.SEL_STS_DSC = '22'
						
					GROUP BY A.NA_BZPLC, A.AUC_DT, A.TRMN_AMNNO 
					<if test="!'0'.toString().equals(auc_obj_dsc)">
						 , A.AUC_OBJ_DSC
					</if>
			) T
			LEFT JOIN TB_LA_IS_MM_MWMN D ON T.NA_BZPLC = D.NA_BZPLC
													AND T.TRMN_AMNNO = D.TRMN_AMNNO
			INNER JOIN TB_LA_IS_BM_BZLOC E ON T.NA_BZPLC = E.NA_BZPLC
			INNER JOIN TB_LA_IS_MM_WMC G ON T.NA_BZPLC = G.NA_BZPLC
			LEFT JOIN TB_LA_IS_MM_SMS F ON T.NA_BZPLC = F.NA_BZPLC
													AND T.AUC_OBJ_DSC = F.AUC_OBJ_DSC
													AND F.TRMN_AMNNO = T.AUC_DT || LPAD(T.TRMN_AMNNO, 4, '0') || NVL(#{sms_key},0)
													AND F.DPAMN_DSC = '1'
													AND TMS_TYPE = '02'
			LEFT JOIN TB_LA_IS_MH_COMN_APL C ON C.SIMP_C = G.REP_BNK_C
															AND C.SIMP_TPC = 'BNK_C'
															AND C.SIMP_C_GRP_SQNO = '1'
		WHERE LENGTH(REPLACE(NVL(D.CUS_MPNO,''), '-', '')) <![CDATA[>=]]> 10	
			AND LENGTH(REGEXP_REPLACE(NVL(D.CUS_MPNO,''), '[^0-9]')) <![CDATA[>=]]> 10
	</select>
	
	<!-- 알림톡 템플릿 리스트 조회 출하자 정산서 -->
	<select id="LALM0228_selList4" parameterType="hashMap" resultType="hashMap">
		SELECT T.*
				, E.CLNTNM
				, T.AUC_DT
				, SUBSTR(T.AUC_DT, 0,4) || '년 ' || SUBSTR(T.AUC_DT, 5,2) || '월 ' || SUBSTR(T.AUC_DT, 7,2) || '일' AS AUC_DT_STR
				, NVL(F.TMS_YN, 'N') AS TMS_YN
				, NVL(F.SMS_FWDG_DT, '') AS SMS_FWDG_DT
				, G.TELNO CLNT_TELNO
				, G.BRC AS ADJ_BRC
				, C.SIMP_CNM AS BANK_NM
				, G.ACNO
				, NVL(D.CUS_MPNO,'') AS CUS_MPNO
				, NVL(TRIM(D.FTSNM),'') AS REVE_USR_NM
				, T.TOT_SRA_SBID_AM - T.TOT_SRA_TR_FEE AS TOT_AM
				, T.AUC_DT || LPAD(T.RNUM, 4, '0') || NVL(#{sms_key},0) SMS_SEND_KEY
		FROM (
					SELECT ROW_NUMBER() OVER(ORDER BY A.NA_BZPLC,A.AUC_DT,A.FHS_ID_NO,A.FARM_AMNNO
							<if test="!'0'.toString().equals(auc_obj_dsc)">
								, A.AUC_OBJ_DSC
							</if>
							) AS RNUM
							, A.NA_BZPLC
							, ${auc_obj_dsc} AUC_OBJ_DSC
							, A.AUC_DT
							, A.FHS_ID_NO
							, A.FARM_AMNNO
							, COUNT(*) AS TOT_CNT
							, COUNT(DECODE(A.SEL_STS_DSC,'22',1)) AS TOT_CNT_NAK
							, COUNT(DECODE(A.SEL_STS_DSC,'22',NULL,1)) AS TOT_CNT_YOU
							, SUM(NVL(A.SRA_SBID_AM,0)) AS TOT_SRA_SBID_AM
						 	, SUM(NVL(C.SRA_TR_FEE,0)) AS TOT_SRA_TR_FEE
					FROM TB_LA_IS_MH_SOG_COW A
					INNER JOIN TB_LA_IS_MM_INDV B ON A.NA_BZPLC = B.NA_BZPLC
															AND A.SRA_INDV_AMNNO = B.SRA_INDV_AMNNO
															AND A.SRA_SRS_DSC = B.SRA_SRS_DSC
					LEFT JOIN (
							SELECT SUM(NVL(SRA_TR_FEE, 0)* DECODE(ANS_DSC, 1, 1, -1) ) AS SRA_TR_FEE
					      			, NA_BZPLC
					      			, AUC_OBJ_DSC
					      			, AUC_DT
					      			, OSLP_NO
					      			, LED_SQNO
					      			, FEE_APL_OBJ_C
					      	FROM TB_LA_IS_MH_FEE_IMPS
					       	WHERE FEE_APL_OBJ_C = '1'
				       			AND AUC_DT = #{auc_dt}	
				        		AND NA_BZPLC = #{ss_na_bzplc}
			        			AND AUC_OBJ_DSC = DECODE(#{auc_obj_dsc},'0',AUC_OBJ_DSC,#{auc_obj_dsc})
			       			GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO, LED_SQNO, FEE_APL_OBJ_C
						) C ON A.NA_BZPLC = C.NA_BZPLC
				             AND A.AUC_OBJ_DSC = C.AUC_OBJ_DSC
				             AND A.AUC_DT = C.AUC_DT
				             AND A.OSLP_NO = C.OSLP_NO
				             AND A.LED_SQNO = C.LED_SQNO
					WHERE 1=1
						AND A.NA_BZPLC = #{ss_na_bzplc}
						AND A.AUC_DT = #{auc_dt}	
						AND A.AUC_OBJ_DSC = DECODE(#{auc_obj_dsc},'0',A.AUC_OBJ_DSC,#{auc_obj_dsc})
						
					GROUP BY A.NA_BZPLC, A.AUC_DT, A.FHS_ID_NO, A.FARM_AMNNO
					<if test="!'0'.toString().equals(auc_obj_dsc)">
						, A.AUC_OBJ_DSC
					</if>
				) T
				LEFT JOIN TB_LA_IS_MM_FHS D 	ON T.NA_BZPLC = D.NA_BZPLC
														AND T.FHS_ID_NO = D.FHS_ID_NO 
														AND T.FARM_AMNNO = D.FARM_AMNNO
				INNER JOIN TB_LA_IS_BM_BZLOC E ON T.NA_BZPLC = E.NA_BZPLC
				INNER JOIN TB_LA_IS_MM_WMC G ON T.NA_BZPLC = G.NA_BZPLC
				LEFT JOIN TB_LA_IS_MM_SMS F ON T.NA_BZPLC = F.NA_BZPLC
														AND T.AUC_OBJ_DSC = F.AUC_OBJ_DSC
														AND F.TRMN_AMNNO = T.AUC_DT || LPAD(T.RNUM, 4, '0') || NVL(#{sms_key},0)
														AND F.DPAMN_DSC = '2'
														AND TMS_TYPE = '02'
				LEFT JOIN TB_LA_IS_MH_COMN_APL C ON C.SIMP_C = G.REP_BNK_C
																AND C.SIMP_TPC = 'BNK_C'
																AND C.SIMP_C_GRP_SQNO = '1'
			WHERE LENGTH(REPLACE(NVL(D.CUS_MPNO,''), '-', '')) <![CDATA[>=]]> 10	
					AND LENGTH(REGEXP_REPLACE(NVL(D.CUS_MPNO,''), '[^0-9]')) <![CDATA[>=]]> 10
	</select>
	
	
	<select id="LALM0228_selCntList" parameterType="hashMap" resultType="hashMap">			
			SELECT T.*
				, DECODE( 
					CASE WHEN T.AUC_OBJ_DSC = '1' THEN ROUND(NVL(J.CALF_AUC_ATDR_UNT_AM, 10000))
						 WHEN T.AUC_OBJ_DSC = '2' THEN ROUND(NVL(J.NBFCT_AUC_ATDR_UNT_AM, 1))
						 WHEN T.AUC_OBJ_DSC = '3' THEN ROUND(NVL(J.PPGCOW_AUC_ATDR_UNT_AM, 10000))
						 WHEN T.AUC_OBJ_DSC = '5' THEN ROUND(NVL(J.GT_AUC_ATDR_UNT_AM, 10000))
						 WHEN T.AUC_OBJ_DSC = '6' THEN ROUND(NVL(J.HS_AUC_ATDR_UNT_AM, 10000))
						 ELSE 10000
					END,10000, '만원', 1000, '천원', '원') AS UNIT
				, C.SIMP_CNM AS AUC_OBJ_DSC_NAME
			FROM (	
				SELECT A.NA_BZPLC
					,A.AUC_DT
					,#{auc_obj_dsc} AS AUC_OBJ_DSC
					,COUNT(*) TOT_CNT
					,COUNT(CASE WHEN B.INDV_SEX_C IN ('1','4','6') THEN 1 END) SEX_W_CNT
					,COUNT(CASE WHEN B.INDV_SEX_C NOT IN ('1','4','6') THEN 1 END) SEX_M_CNT
					,NVL(MAX(DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_AM)),0) MAX_SRA_SBID_AM
					,NVL(MIN(DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_AM)),0) MIN_SRA_SBID_AM
					,NVL(ROUND(AVG(DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_AM))),0) AVG_SRA_SBID_AM
					,NVL(MAX(CASE WHEN B.INDV_SEX_C IN ('1','4','6') THEN DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_UPR) END),0) MAX_SRA_SBID_AM_W
					,NVL(MIN(CASE WHEN B.INDV_SEX_C IN ('1','4','6') THEN DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_UPR) END),0) MIN_SRA_SBID_AM_W
					,NVL(ROUND(AVG(CASE WHEN B.INDV_SEX_C IN ('1','4','6') THEN DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_UPR) END)),0) AVG_SRA_SBID_AM_W
					,NVL(MAX(CASE WHEN B.INDV_SEX_C NOT IN ('1','4','6') THEN DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_UPR) END),0) MAX_SRA_SBID_AM_M
					,NVL(MIN(CASE WHEN B.INDV_SEX_C NOT IN ('1','4','6') THEN DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_UPR) END),0) MIN_SRA_SBID_AM_M
					,NVL(ROUND(AVG(CASE WHEN B.INDV_SEX_C NOT IN ('1','4','6') THEN DECODE(A.SEL_STS_DSC,'22',A.SRA_SBID_UPR) END)),0) AVG_SRA_SBID_AM_M
				FROM TB_LA_IS_MH_SOG_COW A
				INNER JOIN TB_LA_IS_MM_INDV B ON A.NA_BZPLC = B.NA_BZPLC
											AND A.SRA_INDV_AMNNO = B.SRA_INDV_AMNNO
											AND A.SRA_SRS_DSC = B.SRA_SRS_DSC
				WHERE A.NA_BZPLC = #{ss_na_bzplc}
				<choose>
					<when test="'0'.toString().equals(auc_obj_dsc)">
						AND A.AUC_DT = #{auc_dt}
						GROUP BY A.NA_BZPLC,A.AUC_DT
					</when>
					<otherwise>
						AND A.AUC_OBJ_DSC = #{auc_obj_dsc}				
						AND A.AUC_DT = #{auc_dt}
						GROUP BY A.NA_BZPLC,A.AUC_DT,A.AUC_OBJ_DSC
					</otherwise>
				</choose>
			) T
			LEFT OUTER JOIN TB_LA_IS_MM_ENV_EST J ON ( T.NA_BZPLC = J.NA_BZPLC )
			LEFT OUTER JOIN (
				SELECT SIMP_C, SIMP_CNM
				FROM TB_LA_IS_MH_COMN_APL
				WHERE SIMP_TPC = 'AUC_OBJ_DSC'
				AND SIMP_C_GRP_SQNO = '7'
			) C
			ON (
				C.SIMP_C = T.AUC_OBJ_DSC
			)
			ORDER BY T.NA_BZPLC,T.AUC_DT,T.AUC_OBJ_DSC
	</select>
	

</mapper>