<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.ar.service.Impl.LALM0213Mapper">

    <select id="LALM0213_selList" resultType="hashMap">
      SELECT
          A.NA_BZPLC										/* 경제통합사업장코드		*/
        , A.AUC_DT											/* 경매일자			*/
        , A.AUC_OBJ_DSC										/* 경매대상구분코드		*/
        , A.LVST_AUC_PTC_MN_NO								/* 참가번호			*/
        , A.TRMN_AMNNO										/* 중도매인번호			*/
        , CASE WHEN B.CUS_RLNO is null or B.CUS_RLNO = '' THEN B.FRLNO
               ELSE B.CUS_RLNO
          END AS FRLNO
        , A.TR_DFN_YN										/* 거래확정			*/
        , A.AUC_ENTR_GRN_AM									/* 경매참가보증금액		*/
        , A.RTRN_YN											/* 응찰기반납			*/
        , A.DEL_YN											/* 삭제여부			*/
        , A.FSRG_DTM										/* 최초등록일시			*/
        , A.FSRGMN_ENO										/* 최초등록자개인번호		*/
        , A.LSCHG_DTM										/* 최종변경일시			*/
        , A.LS_CMENO										/* 최종변경자개인번호		*/
        , B.DONGUP											/* 동이상주소			*/
        , B.RMK_CNTN										/* 비고내용			*/
        
        , CASE WHEN #{ss_security} = '1' THEN B.SRA_MWMNNM
                   WHEN LENGTH(B.SRA_MWMNNM) = 2 THEN SUBSTR(B.SRA_MWMNNM,1,1) || '*' 
                   WHEN LENGTH(B.SRA_MWMNNM) = 3 THEN SUBSTR(B.SRA_MWMNNM,1,1) || '*'  || SUBSTR(B.SRA_MWMNNM,3,1) 
                   WHEN LENGTH(B.SRA_MWMNNM) = 4 THEN SUBSTR(B.SRA_MWMNNM,1,1) || '**' || SUBSTR(B.SRA_MWMNNM,4,1)  
                   WHEN LENGTH(B.SRA_MWMNNM) >= 5 THEN SUBSTR(B.SRA_MWMNNM,1,2) || '**' || SUBSTR(B.SRA_MWMNNM,5,1)  END AS HD_SRA_MWMNNM  /* 축산중도매인명마스킹	*/
                   
        , CASE WHEN #{ss_security} = '1' THEN B.CUS_MPNO
                   WHEN LENGTH(REPLACE(RTRIM(B.CUS_MPNO),'-','')) = 9  THEN SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,2) || '-***-' || SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),6,4)  
                   WHEN LENGTH(REPLACE(RTRIM(B.CUS_MPNO),'-','')) = 10 THEN 
                  (CASE WHEN SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,2) = '02' 
                        THEN SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,2) || '-****-' || SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),7,4)
                   ELSE SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,3) || '-***-' || SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),7,4)  END) 
                   WHEN LENGTH(REPLACE(RTRIM(B.CUS_MPNO),'-','')) IN (11,12) THEN SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,3) || '-****-' || SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),8,4)                                             
              END AS HD_CUS_MPNO                                    /* 고객휴대전화번호	*/
        
        , CASE WHEN #{ss_security} = '1' THEN B.DONGBW
        	   ELSE '******' END AS HD_DONGBW								/* 동이하마스킹주소		*/
        , C.QCN
        , B.SMS_NO
      FROM TB_LA_IS_MH_AUC_ENTR A
        , TB_LA_IS_MM_MWMN B
        , TB_LA_IS_MH_AUC_QCN C
      WHERE A.NA_BZPLC             = #{ss_na_bzplc}			/* 경제통합사업장코드		*/
        AND A.AUC_DT               = #{auc_dt}				/* 경매일자			*/
        AND A.AUC_OBJ_DSC          = #{cb_auc_obj_dsc}		/* 경매대상구분코드		*/
        AND A.DEL_YN               = '0'						/* 삭제여부			*/
        AND A.NA_BZPLC             = B.NA_BZPLC				/* 경제통합사업장코드		*/
        AND A.TRMN_AMNNO           = B.TRMN_AMNNO				/* 중도매인번호			*/
        AND A.NA_BZPLC             = C.NA_BZPLC
        AND A.AUC_OBJ_DSC          = C.AUC_OBJ_DSC
        AND A.AUC_DT               = C.AUC_DT
      <if test='lvst_auc_ptc_mn_no1 != null and lvst_auc_ptc_mn_no1 != ""'>
        AND A.LVST_AUC_PTC_MN_NO   = #{lvst_auc_ptc_mn_no1}	/* 참가번호			*/
      </if>
      ORDER BY TO_NUMBER(A.LVST_AUC_PTC_MN_NO) DESC
    </select>
    
    <select id="LALM0213_selSraList" resultType="hashMap">
      SELECT
          A.NA_BZPLC										/* 경제통합사업장코드		*/
        , A.AUC_DT											/* 경매일자			*/
        , A.AUC_OBJ_DSC										/* 경매대상구분코드		*/
        , A.LVST_AUC_PTC_MN_NO								/* 참가번호			*/
        , A.TRMN_AMNNO										/* 중도매인번호			*/
        , B.SRA_MWMNNM										/* 축산중도매인명		*/
        , CASE WHEN B.CUS_RLNO is null or B.CUS_RLNO = '' THEN B.FRLNO
               ELSE B.CUS_RLNO
          END AS FRLNO
        , A.TR_DFN_YN										/* 거래확정			*/
        , A.AUC_ENTR_GRN_AM									/* 경매참가보증금액		*/
        , A.RTRN_YN											/* 응찰기반납			*/
        , A.DEL_YN											/* 삭제여부			*/
        , A.FSRG_DTM										/* 최초등록일시			*/
        , A.FSRGMN_ENO										/* 최초등록자개인번호		*/
        , A.LSCHG_DTM										/* 최종변경일시			*/
        , A.LS_CMENO										/* 최종변경자개인번호		*/
        , B.CUS_MPNO										/* 고객휴대전화번호		*/
        , B.DONGUP											/* 동이상주소			*/
        , B.DONGBW											/* 동이하주소			*/
        , B.RMK_CNTN										/* 비고내용			*/
        , C.QCN                                             /* 차수				*/
        , A.ATTC_NO											/* 인증번호			*/
        , B.SMS_NO
      FROM TB_LA_IS_MH_AUC_ENTR A
        , TB_LA_IS_MM_MWMN B
        , TB_LA_IS_MH_AUC_QCN C
      WHERE A.NA_BZPLC             = #{ss_na_bzplc}			/* 경제통합사업장코드		*/
        AND A.AUC_DT               = #{auc_dt}				/* 경매일자			*/
        AND A.AUC_OBJ_DSC          = #{auc_obj_dsc}			/* 경매대상구분코드		*/
        AND A.DEL_YN               = '0'						/* 삭제여부			*/
        AND A.NA_BZPLC             = B.NA_BZPLC				/* 경제통합사업장코드		*/
        AND A.TRMN_AMNNO           = B.TRMN_AMNNO				/* 중도매인번호			*/
        AND A.NA_BZPLC             = C.NA_BZPLC
        AND A.AUC_OBJ_DSC          = C.AUC_OBJ_DSC
        AND A.AUC_DT               = C.AUC_DT
      <if test='lvst_auc_ptc_mn_no != null and lvst_auc_ptc_mn_no != ""'>
        AND A.LVST_AUC_PTC_MN_NO   = #{lvst_auc_ptc_mn_no}	/* 참가번호			*/
      </if>
      ORDER BY A.LVST_AUC_PTC_MN_NO
    </select>
    
    <select id="LALM0213_selBadTrmn" resultType="hashMap">
    	/*LALM0213Mapper.LALM0213_selBadTrmn_20221027_수정*/
		  SELECT
	          ENT.NA_BZPLC              /* 경제통합사업장코드       */
	        , ENT.AUC_DT				/* 경매일자 */
	        , ENT.AUC_OBJ_DSC			/* 경매대상구분코드 */
	        , ENT.LVST_AUC_PTC_MN_NO 	/* 가축경매참여자번호 */
	        , ENT.TRMN_AMNNO            /* 거래인관리번호           */
	        , BLK.REG_SEQ               /* 등록일련번호             */
	        , BLK.REG_DATE                 /* 등록일자                 */
	        , CASE 
	        	WHEN #{ss_security} = '1' THEN MWN.SRA_MWMNNM
                ELSE SUBSTR(MWN.SRA_MWMNNM,1,1) || LPAD('*',LENGTH(MWN.SRA_MWMNNM)-2, '*') || SUBSTR(MWN.SRA_MWMNNM, LENGTH(MWN.SRA_MWMNNM), 1) 
              END SRA_MWMNNM  /* 축산중도매인명마스킹	*/
	        , CASE 
	        	WHEN #{ss_security} = '1' THEN MWN.CUS_MPNO
                ELSE REGEXP_REPLACE(MWN.CUS_MPNO, '(.{3})(.*)(.{4})', '\1-****-\3')
              END TELNO             /* 고객휴대전화번호	*/
	        , MWN.FRLNO                 /* 앞자리실명번호           */
	        , '' NA_TRPL_C             /* 경제통합거래처코드       */
	        , NVL(BLK.AUC_PART_LIMIT_YN, '1') AS AUC_PART_LIMIT_YN   /* 거래허용여부             */
	        , LOC.CLNTNM             /* 경제통합사업장명         */
	        , BLK.REG_REASON         /* 사고등록사유내용         */
          , BLK.FSRG_DTM              /* 최초등록일시             */
          , BLK.FSRGMN_ENO            /* 최초등록자개인번호       */
          , BLK.LSCHG_DTM             /* 최종변경일시             */
          , BLK.LS_CMENO              /* 최종변경자개인번호       */
          , BLK.LIMIT_DATE			/* 거래제한일자 */
          , CASE WHEN #{ss_security} = '1' THEN USR.USRNM
                    ELSE SUBSTR(USR.USRNM,1,1) || LPAD('*',LENGTH(USR.USRNM)-2, '*') || SUBSTR(USR.USRNM, LENGTH(USR.USRNM), 1) 
                  END USRNM			/* 등록자명 */
          , CASE WHEN #{ss_security} = '1' THEN USR.MPNO
            ELSE REGEXP_REPLACE(USR.MPNO, '(.{3})(.*)(.{4})', '\1-****-\3')
            END MPNO			/* 등록자 전화번호 */
	    FROM TB_LA_IS_MH_AUC_ENTR ENT
	    	INNER JOIN TB_LA_IS_MM_MWMN MWN
	    	ON(
	    		ENT.NA_BZPLC = MWN.NA_BZPLC
	    		AND ENT.TRMN_AMNNO = MWN.TRMN_AMNNO 
	    	)
	    	INNER JOIN TB_LA_IS_MM_BLACKLIST BLK
	    	ON(MWN.MB_INTG_NO = BLK.MB_INTG_NO
	    		AND BLK.DEL_YN = '0'
	    	)
	    	INNER JOIN TB_LA_IS_BM_BZLOC LOC
	    	ON(BLK.NA_BZPLC = LOC.NA_BZPLC)
	    	LEFT OUTER JOIN TB_LA_IS_MM_USR USR
	    	ON(ENT.NA_BZPLC = USR.NA_BZPLC
	    		AND BLK.FSRGMN_ENO = USR.USRID
	    	)
	    WHERE ENT.NA_BZPLC = #{ss_na_bzplc}			/* 경제통합사업장코드		*/
	    	AND ENT.AUC_DT = #{auc_dt}				/* 경매일자			*/
	    	AND ENT.AUC_OBJ_DSC = #{cb_auc_obj_dsc}			/* 경매대상구분코드		*/
      <if test='lvst_auc_ptc_mn_no1 != null and lvst_auc_ptc_mn_no1 != ""'>
        AND ENT.LVST_AUC_PTC_MN_NO   = #{lvst_auc_ptc_mn_no1}	/* 참가번호			*/
      </if>
      <if test='trmn_amnno != null and trmn_amnno != ""'>
        AND ENT.TRMN_AMNNO = #{trmn_amnno}	/* 중도매인 코드 */
      </if>
	    ORDER BY BLK.LIMIT_DATE DESC, BLK.REG_DATE DESC 
    </select>
    
    <select id="LALM0213_selBadCheck" resultType="hashMap">
    	/*LALM0213Mapper.LALM0213_selBadCheck_20221028_수정*/
    	SELECT A.MB_INTG_NO
					, MAX(B.CLNTNM) KEEP(DENSE_RANK LAST ORDER BY A.LSCHG_DTM) AS CLNTNM
              		, NVL(MIN(DECODE(A.NA_BZPLC, #{ss_na_bzplc}, A.AUC_PART_LIMIT_YN, '1') ), '99') AS AUC_PART_LIMIT_YN /*경매참여제한여부, 1:가능, 0:불가능, 99:불량미등록 중도매인*/
              		, (CASE WHEN COUNT(*)-1 = 0 THEN 0 ELSE COUNT(*)-1 END ) AS BLACK_CNT
			FROM TB_LA_IS_MM_BLACKLIST A
			INNER JOIN TB_LA_IS_BM_BZLOC B ON A.NA_BZPLC = B.NA_BZPLC
		    WHERE A.MB_INTG_NO = #{mb_intg_no}
				AND TO_CHAR(SYSDATE, 'YYYYMMDD') BETWEEN A.REG_DATE AND A.LIMIT_DATE 
				AND A.DEL_YN = '0'
			GROUP BY A.MB_INTG_NO
    </select>
    
    <select id="LALM0213_selBadCheckMwmn" resultType="hashMap">
    	/*LALM0213Mapper.LALM0213_selBadCheckMwmn_20230213_수정*/
   		SELECT A.NA_BZPLC 
   				, A.TRMN_AMNNO 
				  , MAX(B.CLNTNM) KEEP(DENSE_RANK LAST ORDER BY A.LSCHG_DTM) AS CLNTNM
       		, NVL(MIN(DECODE(A.NA_BZPLC, #{ss_na_bzplc}, A.AUC_PART_LIMIT_YN, '1') ), '99') AS AUC_PART_LIMIT_YN /*경매참여제한여부, 1:가능, 0:불가능, 99:불량미등록 중도매인*/
          , (CASE WHEN COUNT(*)-1 = 0 THEN 0 ELSE COUNT(*)-1 END ) AS BLACK_CNT
      FROM TB_LA_IS_MM_BLACKLIST A
      INNER JOIN TB_LA_IS_BM_BZLOC B ON A.NA_BZPLC = B.NA_BZPLC
        WHERE A.NA_BZPLC = #{ss_na_bzplc}	
          AND A.TRMN_AMNNO = #{trmn_amnno}
        AND TO_CHAR(SYSDATE, 'YYYYMMDD') BETWEEN A.REG_DATE AND A.LIMIT_DATE 
        AND A.DEL_YN = '0'
      GROUP BY A.NA_BZPLC 
            , A.TRMN_AMNNO 
    </select>
    
    <select id="LALM0213_selTrmnAmnNo" resultType="hashMap">
      SELECT
        COUNT(*) AS CNT
        FROM  TB_LA_IS_MH_AUC_ENTR
      WHERE NA_BZPLC         = #{ss_na_bzplc}
        AND AUC_DT           = #{auc_date}
        AND TRMN_AMNNO       = #{trmn_amnno}
        <!-- 경매대상 구분없이 경매당일의 참가번호 중복을 없도록 하려면 아래 조건 지울것-->
        AND (
          (#{hd_auc_obj_dsc} IN ( '0', '1', '2', '3' ) AND AUC_OBJ_DSC IN ( '0', '1', '2', '3' ))
          OR
          (#{hd_auc_obj_dsc} NOT IN ( '0', '1', '2', '3' ) AND AUC_OBJ_DSC = #{hd_auc_obj_dsc})
        )
    </select>
    
    <select id="LALM0213_selAucPtcMnNo" resultType="hashMap">
      SELECT
        COUNT(*) AS CNT
        FROM  TB_LA_IS_MH_AUC_ENTR
      WHERE NA_BZPLC             = #{ss_na_bzplc}
        AND AUC_DT               = #{auc_date}
        AND LVST_AUC_PTC_MN_NO   = #{lvst_auc_ptc_mn_no}
        <!-- 경매대상 구분없이 경매당일의 참가번호 중복을 없도록 하려면 아래 조건 지울것-->
        AND (
          (#{hd_auc_obj_dsc} IN ( '0', '1', '2', '3' ) AND AUC_OBJ_DSC IN ( '0', '1', '2', '3' ))
          OR
          (#{hd_auc_obj_dsc} NOT IN ( '0', '1', '2', '3' ) AND AUC_OBJ_DSC = #{hd_auc_obj_dsc})
        )
    </select>
    
    <select id="LALM0213_selSraCount" resultType="hashMap">
      SELECT
        COUNT(*) AS CNT
        FROM  TB_LA_IS_MH_SOG_COW
      WHERE NA_BZPLC     = #{ss_na_bzplc}
        AND AUC_DT       = #{auc_date}
        AND TRMN_AMNNO   = #{trmn_amnno}
        AND SRA_SRS_DSC  = #{sra_srs_dsc}
    </select>
    
    <insert id="LALM0213_insPgm">
      INSERT INTO TB_LA_IS_MH_AUC_ENTR(
            NA_BZPLC									/* 경제통합사업장코드			*/
          , AUC_OBJ_DSC								/* 경매대상구분코드			*/
          , AUC_DT									/* 경매일자				*/
          , LVST_AUC_PTC_MN_NO						/* 참가번호				*/
          , TRMN_AMNNO								/* 중도매인번호				*/
          , TR_DFN_YN									/* 거래확정				*/
          , AUC_ENTR_GRN_AM							/* 경매참가보증금액			*/
          , RTRN_YN									/* 응찰기반납				*/
          , TMS_YN									/* 전송여부				*/
          , DEL_YN									/* 삭제여부				*/
          , FSRG_DTM									/* 최초등록일시				*/
          , FSRGMN_ENO								/* 최초등록자개인번호			*/
          , LSCHG_DTM									/* 최종변경일시				*/
          , LS_CMENO									/* 최종변경자개인번호			*/
      )VALUES(
            #{ss_na_bzplc}							/* 경제통합사업장코드			*/
          , #{hd_auc_obj_dsc}							/* 경매대상구분코드			*/
          , #{auc_date}								/* 경매일자				*/
          , #{lvst_auc_ptc_mn_no}						/* 참가번호				*/
          , #{trmn_amnno}								/* 중도매인번호				*/
          , #{hd_tr_dfn_yn}							/* 거래확정				*/
          , #{auc_entr_grn_am}						/* 경매참가보증금액			*/
          , #{hd_rtrn_yn}								/* 응찰기반납				*/
          , '0'										/* 전송여부				*/
          , '0'										/* 삭제여부				*/
          , SYSDATE									/* 최초등록일시				*/
          , #{ss_userid}								/* 최초등록자개인번호			*/
          , SYSDATE									/* 최종변경일시				*/
          , #{ss_userid}								/* 최종변경자				*/
      )
    </insert>
    
    <insert id="LALM0213_insCalfPgm">
        INSERT INTO TB_LA_IS_MH_AUC_ENTR(
              NA_BZPLC									/* 경제통합사업장코드			*/
            , AUC_OBJ_DSC								/* 경매대상구분코드			*/
            , AUC_DT									/* 경매일자				*/
            , LVST_AUC_PTC_MN_NO						/* 참가번호				*/
            , TRMN_AMNNO								/* 중도매인번호				*/
            , TR_DFN_YN									/* 거래확정				*/
            , AUC_ENTR_GRN_AM							/* 경매참가보증금액			*/
            , RTRN_YN									/* 응찰기반납				*/
            , TMS_YN									/* 전송여부				*/
            , DEL_YN									/* 삭제여부				*/
            , FSRG_DTM									/* 최초등록일시				*/
            , FSRGMN_ENO								/* 최초등록자개인번호			*/
            , LSCHG_DTM									/* 최종변경일시				*/
            , LS_CMENO									/* 최종변경자개인번호			*/
        )VALUES(
              #{ss_na_bzplc}							/* 경제통합사업장코드			*/
            , '1'										/* 경매대상구분코드			*/
            , #{auc_date}								/* 경매일자				*/
            , #{lvst_auc_ptc_mn_no}						/* 참가번호				*/
            , #{trmn_amnno}								/* 중도매인번호				*/
            , #{hd_tr_dfn_yn}							/* 거래확정				*/
            , 0											/* 경매참가보증금액			*/
            , #{hd_rtrn_yn}								/* 응찰기반납				*/
            , '0'										/* 전송여부				*/
            , '0'										/* 삭제여부				*/
            , SYSDATE									/* 최초등록일시				*/
            , #{ss_userid}								/* 최초등록자개인번호			*/
            , SYSDATE									/* 최종변경일시				*/
            , #{ss_userid}								/* 최종변경자				*/
        )
    </insert>
    
    <insert id="LALM0213_insMartPgm">
        INSERT INTO TB_LA_IS_MH_AUC_ENTR(
              NA_BZPLC									/* 경제통합사업장코드			*/
            , AUC_OBJ_DSC								/* 경매대상구분코드			*/
            , AUC_DT									/* 경매일자				*/
            , LVST_AUC_PTC_MN_NO						/* 참가번호				*/
            , TRMN_AMNNO								/* 중도매인번호				*/
            , TR_DFN_YN									/* 거래확정				*/
            , AUC_ENTR_GRN_AM							/* 경매참가보증금액			*/
            , RTRN_YN									/* 응찰기반납				*/
            , TMS_YN									/* 전송여부				*/
            , DEL_YN									/* 삭제여부				*/
            , FSRG_DTM									/* 최초등록일시				*/
            , FSRGMN_ENO								/* 최초등록자개인번호			*/
            , LSCHG_DTM									/* 최종변경일시				*/
            , LS_CMENO									/* 최종변경자개인번호			*/
        )VALUES(
              #{ss_na_bzplc}							/* 경제통합사업장코드			*/
            , '2'										/* 경매대상구분코드			*/
            , #{auc_date}								/* 경매일자				*/
            , #{lvst_auc_ptc_mn_no}						/* 참가번호				*/
            , #{trmn_amnno}								/* 중도매인번호				*/
            , #{hd_tr_dfn_yn}							/* 거래확정				*/
            , 0											/* 경매참가보증금액			*/
            , #{hd_rtrn_yn}								/* 응찰기반납				*/
            , '0'										/* 전송여부				*/
            , '0'										/* 삭제여부				*/
            , SYSDATE									/* 최초등록일시				*/
            , #{ss_userid}								/* 최초등록자개인번호			*/
            , SYSDATE									/* 최종변경일시				*/
            , #{ss_userid}								/* 최종변경자				*/
        )
    </insert>
    
    <insert id="LALM0213_insBreedingPgm">
        INSERT INTO TB_LA_IS_MH_AUC_ENTR(
              NA_BZPLC									/* 경제통합사업장코드			*/
            , AUC_OBJ_DSC								/* 경매대상구분코드			*/
            , AUC_DT									/* 경매일자				*/
            , LVST_AUC_PTC_MN_NO						/* 참가번호				*/
            , TRMN_AMNNO								/* 중도매인번호				*/
            , TR_DFN_YN									/* 거래확정				*/
            , AUC_ENTR_GRN_AM							/* 경매참가보증금액			*/
            , RTRN_YN									/* 응찰기반납				*/
            , TMS_YN									/* 전송여부				*/
            , DEL_YN									/* 삭제여부				*/
            , FSRG_DTM									/* 최초등록일시				*/
            , FSRGMN_ENO								/* 최초등록자개인번호			*/
            , LSCHG_DTM									/* 최종변경일시				*/
            , LS_CMENO									/* 최종변경자개인번호			*/
        )VALUES(
              #{ss_na_bzplc}							/* 경제통합사업장코드			*/
            , '3'										/* 경매대상구분코드			*/
            , #{auc_date}								/* 경매일자				*/
            , #{lvst_auc_ptc_mn_no}						/* 참가번호				*/
            , #{trmn_amnno}								/* 중도매인번호				*/
            , #{hd_tr_dfn_yn}							/* 거래확정				*/
            , 0											/* 경매참가보증금액			*/
            , #{hd_rtrn_yn}								/* 응찰기반납				*/
            , '0'										/* 전송여부				*/
            , '0'										/* 삭제여부				*/
            , SYSDATE									/* 최초등록일시				*/
            , #{ss_userid}								/* 최초등록자개인번호			*/
            , SYSDATE									/* 최종변경일시				*/
            , #{ss_userid}								/* 최종변경자				*/
        )
    </insert>
    
    <update id="LALM0213_updPgm">
         UPDATE TB_LA_IS_MH_AUC_ENTR SET
              TRMN_AMNNO            = #{trmn_amnno}					/* 중도매인번호			*/
            , TR_DFN_YN             = #{hd_tr_dfn_yn}				/* 거래확정			*/
            , AUC_ENTR_GRN_AM       = #{auc_entr_grn_am}			/* 경매참가보증금액		*/
            , RTRN_YN               = #{hd_rtrn_yn}					/* 응찰기반납			*/
            , TMS_YN                = '0'							/* 전송여부			*/
            , LSCHG_DTM             = SYSDATE						/* 최종변경일시			*/
            , LS_CMENO              = #{ss_userid}					/* 최종변경자			*/
        WHERE NA_BZPLC              = #{ss_na_bzplc}				/* 경제통합사업장코드		*/
          AND AUC_OBJ_DSC           = #{hd_auc_obj_dsc}				/* 경매대상구분코드		*/
          AND AUC_DT                = #{auc_date}					/* 경매일자			*/
          AND LVST_AUC_PTC_MN_NO    = #{lvst_auc_ptc_mn_no}			/* 참가번호			*/
    </update>
    
    <delete id="LALM0213_delPgm">
        DELETE FROM TB_LA_IS_MH_AUC_ENTR
		    WHERE NA_BZPLC               = #{ss_na_bzplc}				/* 경제통합사업장코드		*/
		      AND AUC_OBJ_DSC            = #{hd_auc_obj_dsc}			/* 경매대상구분코드		*/
		      AND AUC_DT                 = #{auc_date}					/* 경매일자			*/
		      AND LVST_AUC_PTC_MN_NO     = #{lvst_auc_ptc_mn_no}		/* 참가번호			*/
    </delete>
    
	<insert id="LALM0213_insAllPgm">
		INSERT INTO TB_LA_IS_MH_AUC_ENTR(
			  NA_BZPLC									/* 경제통합사업장코드			*/
			, AUC_OBJ_DSC								/* 경매대상구분코드			*/
			, AUC_DT									/* 경매일자				*/
			, LVST_AUC_PTC_MN_NO						/* 참가번호				*/
			, TRMN_AMNNO								/* 중도매인번호				*/
			, TR_DFN_YN									/* 거래확정				*/
			, AUC_ENTR_GRN_AM							/* 경매참가보증금액			*/
			, RTRN_YN									/* 응찰기반납				*/
			, TMS_YN									/* 전송여부				*/
			, DEL_YN									/* 삭제여부				*/
			, FSRG_DTM									/* 최초등록일시				*/
			, FSRGMN_ENO								/* 최초등록자개인번호			*/
			, LSCHG_DTM									/* 최종변경일시				*/
			, LS_CMENO									/* 최종변경자개인번호			*/
		)
		SELECT NA_BZPLC									/* 경제통합사업장코드			*/
			 , AUC_OBJ_DSC								/* 경매대상구분코드			*/
			 , AUC_DT									/* 경매일자				*/
			 , #{lvst_auc_ptc_mn_no}					/* 참가번호				*/
			 , #{trmn_amnno}							/* 중도매인번호				*/
			 , #{hd_tr_dfn_yn}							/* 거래확정				*/
			 , CASE WHEN AUC_OBJ_DSC = #{hd_auc_obj_dsc} THEN NVL(#{auc_entr_grn_am}, '0')
					ELSE '0'
				END AS AUC_ENTR_GRN_AM					/* 경매참가보증금액			*/
			 , #{hd_rtrn_yn}							/* 응찰기반납				*/
			 , '0'										/* 전송여부				*/
			 , '0'										/* 삭제여부				*/
			 , SYSDATE									/* 최초등록일시				*/
			 , #{ss_userid}								/* 최초등록자개인번호			*/
			 , SYSDATE									/* 최종변경일시				*/
			 , #{ss_userid}								/* 최종변경자				*/
		  FROM TB_LA_IS_MH_AUC_QCN
		 WHERE NA_BZPLC = #{ss_na_bzplc}
		   AND AUC_DT = #{auc_date}
       AND (
          (#{hd_auc_obj_dsc} IN ( '0', '1', '2', '3' ) AND AUC_OBJ_DSC IN ( '0', '1', '2', '3' ))
          OR
          (#{hd_auc_obj_dsc} NOT IN ( '0', '1', '2', '3' ) AND AUC_OBJ_DSC = #{hd_auc_obj_dsc})
        )
	</insert>
	
	<delete id="LALM0213_delAllPgm">
		DELETE FROM TB_LA_IS_MH_AUC_ENTR
		 WHERE NA_BZPLC               = #{ss_na_bzplc}				/* 경제통합사업장코드		*/
		   AND AUC_DT                 = #{auc_date}					/* 경매일자			*/
		   AND LVST_AUC_PTC_MN_NO     = #{lvst_auc_ptc_mn_no}		/* 참가번호			*/
       AND (
          (#{hd_auc_obj_dsc} IN ( '0', '1', '2', '3' ) AND AUC_OBJ_DSC IN ( '0', '1', '2', '3' ))
          OR
          (#{hd_auc_obj_dsc} NOT IN ( '0', '1', '2', '3' ) AND AUC_OBJ_DSC = #{hd_auc_obj_dsc})
        )
	</delete>
	
</mapper>














