<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.ar.service.Impl.LALM0219Mapper">

    <select id="LALM0219_selList" resultType="hashMap">
	    SELECT
	          A.AUC_PRG_SQ                           /* 경매진행순서                            */
	        , A.AUC_OBJ_DSC                          /* 경매대상구분                            */
	        , CASE WHEN #{ss_security} = '1' THEN C.FTSNM
	        	   WHEN LENGTH(C.FTSNM) = 2 THEN SUBSTR(C.FTSNM,1,1) || '*' 
	               WHEN LENGTH(C.FTSNM) = 3 THEN SUBSTR(C.FTSNM,1,1) || '*'  || SUBSTR(C.FTSNM,3,1) 
	               WHEN LENGTH(C.FTSNM) = 4 THEN SUBSTR(C.FTSNM,1,1) || '**' || SUBSTR(C.FTSNM,4,1)  
	               WHEN LENGTH(C.FTSNM) = 5 THEN SUBSTR(C.FTSNM,1,2) || '**' || SUBSTR(C.FTSNM,5,1) ELSE C.FTSNM END AS FTSNM  /* 출하자명                     */ 
	        , CASE WHEN #{ss_security} = '1' THEN A.SRA_PDMNM
	        	   WHEN LENGTH(A.SRA_PDMNM) = 2 THEN SUBSTR(A.SRA_PDMNM,1,1) || '*' 
	               WHEN LENGTH(A.SRA_PDMNM) = 3 THEN SUBSTR(A.SRA_PDMNM,1,1) || '*'  || SUBSTR(A.SRA_PDMNM,3,1) 
	               WHEN LENGTH(A.SRA_PDMNM) = 4 THEN SUBSTR(A.SRA_PDMNM,1,1) || '**' || SUBSTR(A.SRA_PDMNM,4,1)  
	               WHEN LENGTH(A.SRA_PDMNM) = 5 THEN SUBSTR(A.SRA_PDMNM,1,2) || '**' || SUBSTR(A.SRA_PDMNM,5,1) ELSE A.SRA_PDMNM END AS SRA_PDMNM   /* 축산생산자명                            */     
	        , NVL(substr(A.SRA_INDV_AMNNO,1, 3) || '-' || substr(A.SRA_INDV_AMNNO,4, 3) || '-' || substr(A.SRA_INDV_AMNNO,7, 9)  
	             ,substr(B.SRA_INDV_AMNNO,1, 3) || '-' || substr(B.SRA_INDV_AMNNO,4, 3) || '-' || substr(B.SRA_INDV_AMNNO,7, 9)) AS SRA_INDV_AMNNO                      /* 축산개체관리번호(바코드, 귀표번호)      */
	        , B.RG_DSC                               /* 등록구분코드                            */
	        , substr(B.BIRTH, 1, 4) || '-' || substr(B.BIRTH, 5, 2) || '-' || substr(B.BIRTH, 7, 2)  AS BIRTH                             /* 생년월일                                */
	        , B.INDV_SEX_C                           /* 개체성별코드                            */
	        , B.KPN_NO                               /* PKN번호                                 */
	        , B.SRA_INDV_PASG_QCN                    /* 계대                                    */
	        , B.MATIME                               /* 산차                                    */
	        , nvl(substr(B.MCOW_SRA_INDV_AMNNO,1, 3) || '-' || substr(B.MCOW_SRA_INDV_AMNNO,4, 3) || '-' || substr(B.MCOW_SRA_INDV_AMNNO,7, 9), B.MCOW_SRA_INDV_AMNNO)  AS MCOW_SRA_INDV_AMNNO
	        , B.MCOW_DSC                             /* 어미구분코드                            */
	        , A.PPGCOW_FEE_DSC                       /* 번식우수수료구분코드                    */
            , CASE WHEN #{ss_security} = '1' THEN C.DONGUP ||' '|| C.DONGBW
              ELSE C.DONGUP ||' '||  TRIM(LPAD(' ', LENGTH(C.DONGBW) +1, '*')) END AS ADDR                   /* 주소                      */
	        , A.EPD_YN                               /* 고능력여부                                    */
	        , A.RMK_CNTN                             /* 비고내용                                */
	        , A.RC_DT                                /* 접수일자                                */
	        , A.LSCHG_DTM                            /* 최종변경일시                            */
	        , A.OSLP_NO                              /* 원표번호(경매번호)    여기까지 화면 표출       */
	        , A.AUC_DT                               /* 경매일자                                */
	        , A.LED_SQNO                             /* 원장일련번호(경매 = 1)                  */
	        , NVL(A.FHS_ID_NO, B.FHS_ID_NO) AS FHS_ID_NO                           /* 농가식별번호                            */
	        , NVL(A.FARM_AMNNO, B.FARM_AMNNO)   AS FARM_AMNNO     /* 농장관리번호                            */
	        , A.SOG_NA_TRPL_C                        /* 출하경제통합거래처코드                  */
	        , A.VHC_SHRT_C                           /* 차량당축코드                            */
	        , A.TRMN_AMNNO                           /* 거래인관리번호                          */
	        , A.LVST_AUC_PTC_MN_NO                   /* 가축경매참여자번호                      */
	        , NVL(A.SRA_SRS_DSC, B.SRA_SRS_DSC) AS SRA_SRS_DSC                          /* 축산축종구분코드                        */
	        , A.COW_SOG_WT                           /* 우출하중량                              */
	        , A.FIR_LOWS_SBID_LMT_AM                 /* 최초최저낙찰한도금액                    */
	        , A.LOWS_SBID_LMT_AM                     /* 최저낙찰한도금액                        */
	        , A.SRA_SBID_AM                          /* 축산낙찰금액                            */
	        , A.SEL_STS_DSC                          /* 판매상태구분코드                        */
	        , A.BRCL_ISP_CTFW_SMT_YN                 /* 브루셀라검사증명서제출여부              */
	        , A.BRCL_ISP_DT                          /* 브루셀라검사일자                        */
	        , A.LWPR_CHG_NT                          /* 최저가변경횟수                          */
	        , A.VACN_DT                              /* 예방접종일자                            */
	        , A.LVST_MKT_TRPL_AMNNO                  /* 가축시장거래처관리번호(수의사)          */
	        , A.MT12_OVR_YN                          /* 12개월이상여부                          */
	        , A.PRNY_JUG_YN                          /* 임신감정여부                            */
	        , A.PRNY_YN                              /* 임신여부                                */
	        , A.NCSS_JUG_YN                          /* 괴사감정여부                            */
	        , A.NCSS_YN                              /* 괴사여부                                */
	        , A.TRPCS_PY_YN                          /* 운송비지급여부                          */
	        , A.SRA_TRPCS                            /* 축산운송비                              */
	        , A.SRA_PYIVA                            /* 축산납입출자금                          */
	        , A.SRA_FED_SPY_AM                       /* 축산가료공급금액                        */
	        , A.TD_RC_CST                            /* 당일접수비용                            */
	        , A.AFISM_MOD_DT                         /* 인공수정일자                            */
	        , A.PRNY_MTCN                            /* 임신개월수                              */
	        , A.AFISM_MOD_CTFW_SMT_YN                /* 인공수정증명서제출여부                  */
	        , A.RMHN_YN                              /* 제각여부                                */
	        , A.SRA_PD_RGNNM                         /* 축산생산지역명                          */
	        , A.TMS_YN                               /* 전송여부                                */
	        , A.DEL_YN                               /* 삭제여부                                */
	        , B.SRA_INDV_BRDSRA_RG_NO                /* 축산개체종축등록번호                    */
	        , A.LOWS_SBID_LMT_AM                     /* 하한가금액                                */
	        , A.COW_SOG_WT                           /* 중량                                */
         	, CASE WHEN TRUNC(MONTHS_BETWEEN(A.AUC_DT, B.BIRTH)) +1 <![CDATA[<=]]> 4 AND (A.NA_BZPLC != '8808990656199' OR A.NA_BZPLC != '8808990656434')
			THEN 4 ELSE TRUNC(MONTHS_BETWEEN(A.AUC_DT, B.BIRTH)) +1 END AS MTCN      /* 월령  */
	    FROM TB_LA_IS_MH_SOG_COW  A
	       , TB_LA_IS_MM_INDV     B
	       , TB_LA_IS_MM_FHS      C
	    WHERE A.NA_BZPLC               =  #{ss_na_bzplc} /* jwt에서 들고온 통합 사업장 구분코드*/
	      AND A.AUC_OBJ_DSC            =  CASE WHEN #{auc_obj_dsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{auc_obj_dsc} END
	      AND A.AUC_DT                 =  #{auc_dt}
	      <if test="sra_indv_amnno != null and sra_indv_amnno != ''">
	      	AND SUBSTR(A.SRA_INDV_AMNNO,4, LENGTH(A.SRA_INDV_AMNNO)-3) LIKE '%' ||  #{sra_indv_amnno} || '%'
	      </if>
	      AND (to_number(#{st_auc_no})   =  0 OR A.AUC_PRG_SQ   >=  to_number(#{st_auc_no}))       /* 경매진행순서                */
	      AND (to_number(#{ed_auc_no})   =  0 OR A.AUC_PRG_SQ   <![CDATA[<]]>=  to_number(#{ed_auc_no}))       /* 경매진행순서                */
	      AND A.LED_SQNO               =  1
	      AND A.DEL_YN                 =  '0'
	      AND A.SEL_STS_DSC            =  '11'                                                 /* 송장등록상태                */
	      AND A.NA_BZPLC               =  B.NA_BZPLC
	      AND A.SRA_INDV_AMNNO         =  B.SRA_INDV_AMNNO
	      AND A.SRA_SRS_DSC            =  B.SRA_SRS_DSC
	      AND A.NA_BZPLC               =  C.NA_BZPLC
	      AND A.FHS_ID_NO              =  C.FHS_ID_NO
	      AND A.FARM_AMNNO             =  C.FARM_AMNNO	      
	    <if test='sel_order == "1"'>                 /* 1.경매번호                                                                         */
	        ORDER BY A.AUC_PRG_SQ
	    </if>
	    <if test='sel_order == "2"'>             /* 2.수/암+생년월일↓(어린순)+바코드↑    WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등   */
	        ORDER BY  (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	        				 , B.BIRTH DESC, A.SRA_INDV_AMNNO
	    </if>
	    <if test='sel_order == "3"'>             /* 3.수/암+생년월일↑+바코드↑           WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등      */
	        ORDER BY  (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	        				, B.BIRTH, A.SRA_INDV_AMNNO
	    </if>
	    <if test='sel_order == "4"'>            /* 4. 수/암+경매번호      WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등   */
	        ORDER BY  (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	        					, B.BIRTH, A.SRA_INDV_AMNNO
	    </if>        
	    <if test='sel_order == "5"'>             /* 5.수/암+경매번호+등록우     WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등   */
	        ORDER BY  (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	        					 , A.AUC_PRG_SQ, B.RG_DSC DESC
	    </if>        
	    <if test='sel_order == "6"'>            /* 6. 수/암+지역+생년월일↓(어린순)+바코드      WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등   */
	        ORDER BY (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
								, SUBSTRING(C.ZIP,1,3) DESC , B.BIRTH DESC, A.SRA_INDV_AMNNO
	    </if>        
	    <if test='sel_order == "7"'>             /* 7. 암/수+지역+생년월일↓(어린순)+바코드        WHEN 1:암, 6:프리마틴, 4:미경산, 2:수, 3:거세, 5:미거세, ELSE:기타등등   */
	        ORDER BY (CASE B.INDV_SEX_C WHEN '1' THEN 0  
	        														WHEN '6' THEN 1 
	        														WHEN '4' THEN 2
	        														WHEN '2' THEN 3
	        														WHEN '3' THEN 4
	        														WHEN '5' THEN 5
	        														ELSE 6 END)
	        					, SUBSTRING(C.ZIP,1,3) DESC, B.BIRTH DESC, A.SRA_INDV_AMNNO
	    </if>        
	    <if test='sel_order == "8"'>             /* 8. 경매대상+생산자↑+암/수+조합원여부  WHEN 1:암, 6:프리마틴, 4:미경산, 2:수, 3:거세, 5:미거세, ELSE:기타등등     */
	        ORDER BY  A.AUC_OBJ_DSC,
	        					(CASE B.INDV_SEX_C WHEN '1' THEN 0  
	        														WHEN '6' THEN 1 
	        														WHEN '4' THEN 2
	        														WHEN '2' THEN 3
	        														WHEN '3' THEN 4
	        														WHEN '5' THEN 5
	        														ELSE 6 END)
	        					, A.SRA_PDMNM  DESC, C.MACO_YN DESC
	    </if>        
	    <if test='sel_order == "9"'>             /* 9. 암/수+지역+생년월일↓(어린순)+등록우↑   WHEN 1:암, 6:프리마틴, 4:미경산, 2:수, 3:거세, 5:미거세, ELSE:기타등등        */
	        ORDER BY (CASE B.INDV_SEX_C WHEN '1' THEN 0  
	        														WHEN '6' THEN 1 
	        														WHEN '4' THEN 2
	        														WHEN '2' THEN 3
	        														WHEN '3' THEN 4
	        														WHEN '5' THEN 5
	        														ELSE 6 END)
	        				, SUBSTRING(C.ZIP,1,3) DESC, B.BIRTH DESC, B.RG_DSC
	    </if>        
	    <if test='sel_order == "10"'>            /* 10. 암/수+지역    WHEN 1:암, 6:프리마틴, 4:미경산, 2:수, 3:거세, 5:미거세, ELSE:기타등등                 */
	        ORDER BY  (CASE B.INDV_SEX_C WHEN '1' THEN 0  
	        														WHEN '6' THEN 1 
	        														WHEN '4' THEN 2
	        														WHEN '2' THEN 3
	        														WHEN '3' THEN 4
	        														WHEN '5' THEN 5
	        														ELSE 6 END)
	        					, C.ZIP
	    </if>        
	    <if test='sel_order == "11"'>            /* 11. 등록우↑+수/암+생년월일↑          WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등       */
	        ORDER BY B.RG_DSC,
	        				   (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	        					, B.BIRTH
	    </if>        
	    <if test='sel_order == "12"'>            /* 12. 암/수+생년월일↓(어린순)  WHEN 1:암, 6:프리마틴, 4:미경산, 2:수, 3:거세, 5:미거세, ELSE:기타등등                     */
	           ORDER BY (CASE B.INDV_SEX_C WHEN '1' THEN 0  
	        														WHEN '6' THEN 1 
	        														WHEN '4' THEN 2
	        														WHEN '2' THEN 3
	        														WHEN '3' THEN 4
	        														WHEN '5' THEN 5
	        														ELSE 6 END)
	        				 	 , B.BIRTH DESC
	    </if>        
	    <if test='sel_order == "13"'>            /* 13.수/암+생년월일↓(어린순)+등록구분(고등-혈통-기초-없음)           WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등                */
	        ORDER BY  (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	        					, B.BIRTH DESC, (CASE RG_DSC WHEN '03' THEN 1 WHEN '02' THEN 2 WHEN '01' THEN 3 ELSE 4 END)
	    </if>        
	    <if test='sel_order == "14"'>            /* 14. 등록구분↑+수/암+생년월일↓(어린순)      WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등  */
	        ORDER BY B.RG_DSC,
	        					(CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	        					, B.BIRTH  DESC
	    </if>        
	    <if test='sel_order == "15"'>            /* 15. 암/수+생년월일↑     WHEN 1:암, 6:프리마틴, 4:미경산, 2:수, 3:거세, 5:미거세, ELSE:기타등등                        */
	        ORDER BY  (CASE B.INDV_SEX_C WHEN '1' THEN 0  
	        														WHEN '6' THEN 1 
	        														WHEN '4' THEN 2
	        														WHEN '2' THEN 3
	        														WHEN '3' THEN 4
	        														WHEN '5' THEN 5
	        														ELSE 6 END)
	        					,B.BIRTH
	        					
	    </if>
	    <if test='sel_order == "16"'>           /* 16. 암/수+등록구분(기초혈통고등/미등록)+생년월일↓(어린순) - 보은옥천지점       WHEN 1:암, 6:프리마틴, 4:미경산, 2:수, 3:거세, 5:미거세, ELSE:기타등등     */
	       ORDER BY (CASE B.INDV_SEX_C WHEN '1' THEN 0  
	        														WHEN '6' THEN 1 
	        														WHEN '4' THEN 2
	        														WHEN '2' THEN 3
	        														WHEN '3' THEN 4
	        														WHEN '5' THEN 5
	        														ELSE 6 END)
	       						, (CASE RG_DSC WHEN '01' THEN 1 WHEN '02' THEN 1 WHEN '03' THEN 1 ELSE 2 END), B.BIRTH DESC
	    </if>       
	    <if test='sel_order == "17"'>            /* 17. 암송아지+고능력암송아지+고능력수송아지+수송아지+생년월일↓(어린순) - 부여축협  */
	       ORDER BY (CASE (A.EPD_YN||''||B.INDV_SEX_C) WHEN '01' THEN 1 WHEN '04' THEN 1 WHEN '06' THEN 1
	                                                            WHEN '11' THEN 2 WHEN '14' THEN 2 WHEN '16' THEN 2
	                                                            WHEN '12' THEN 3 WHEN '13' THEN 3 WHEN '15' THEN 3
	                                                            WHEN '02' THEN 4 WHEN '03' THEN 4 WHEN '05' THEN 4
	                                                            ELSE 5 END), B.BIRTH DESC
	    </if>
	    <if test='sel_order == "18"'>            /* 18. 접수일자(오름차순) + 수/암 + 생년월일↓(어린순) - 안동봉화   WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등                    */
	       ORDER BY A.RC_DT,
	       					 (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	       					 , B.BIRTH DESC
	    </if>
	    <if test='sel_order == "19"'>           /* 19. 접수일자(오름차순) + 수/암 + 생년월일↑ - 안동봉화     WHEN  2:수, 3:거세, 5:미거세, 1:암, 6:프리마틴, 4:미경산 ELSE : 기타등등   */
	       ORDER BY A.RC_DT,  
	       					  (CASE B.INDV_SEX_C WHEN '2' THEN 0  
	        														WHEN '3' THEN 1 
	        														WHEN '5' THEN 2
	        														WHEN '1' THEN 3
	        														WHEN '6' THEN 4
	        														WHEN '4' THEN 5
	        														ELSE 6 END)
	       						,  B.BIRTH
	    </if>
	    
	    <if test='sel_order == "20"'>           /* 16. 수/암+등록구분(기초혈통고등/미등록)+생년월일↓(어린순) - 보은옥천지점       WHEN 1:암, 6:프리마틴, 4:미경산, 2:수, 3:거세, 5:미거세, ELSE:기타등등     */
			ORDER BY (CASE B.INDV_SEX_C
				WHEN '2' THEN 0
				WHEN '3' THEN 1
				WHEN '5' THEN 2 
				WHEN '1' THEN 3  
				WHEN '6' THEN 4
				WHEN '4' THEN 5
				ELSE 6 END)
			, (CASE RG_DSC WHEN '01' THEN 1 WHEN '02' THEN 1 WHEN '03' THEN 1 ELSE 2 END), B.BIRTH DESC
	    </if> 
	    <if test='sel_order == "21"'>           /* 21. 경매대상 + 수/암 + 경매번호     */
			ORDER BY
			A.AUC_OBJ_DSC
			, (CASE B.INDV_SEX_C
				WHEN '2' THEN 0
				WHEN '3' THEN 1
				WHEN '5' THEN 2 
				WHEN '1' THEN 3  
				WHEN '6' THEN 4
				WHEN '4' THEN 5
				ELSE 6 END)
			, B.BIRTH DESC
	    </if> 
	    <if test='sel_order == "22"'>           /* 21. 경매대상 + 수/암 + 경매번호     */
			ORDER BY
			(CASE WB.INDV_SEX_C WHEN '1' THEN 0  
 								  WHEN '6' THEN 1 
 								  WHEN '4' THEN 2
 								  WHEN '2' THEN 3
 								  WHEN '3' THEN 4
 								  WHEN '5' THEN 5
			ELSE 6 END)
			, A.RC_DT
			, B.BIRTH DESC
	    </if> 
    </select>
    
	<update id="LALM0219_updSogCowSq">
    <![CDATA[	
            UPDATE TB_LA_IS_MH_SOG_COW SET
                  AUC_PRG_SQ       =  #{auc_prg_sq}
                , MODL_NO          =  #{auc_prg_sq}
                , LSCHG_DTM        =  SYSDATE
                , LS_CMENO         =  #{ss_userid}
            WHERE NA_BZPLC         =  #{ss_na_bzplc}
              AND AUC_OBJ_DSC      =  #{auc_obj_dsc}
              AND AUC_DT           =  #{auc_dt}
              AND OSLP_NO          =  #{oslp_no}
              AND LED_SQNO         =  #{led_sqno}	   
    ]]>		   
	</update>      
	
    <update id="LALM0219P1_updExcelUpload">
	    <![CDATA[	
	            UPDATE TB_LA_IS_MH_SOG_COW SET
	                  AUC_PRG_SQ       =  #{auc_prg_sq}
                	, MODL_NO          =  #{auc_prg_sq}
	                , LSCHG_DTM        =  SYSDATE
	                , LS_CMENO         =  #{ss_userid}
	            WHERE NA_BZPLC         =  #{ss_na_bzplc}
	              AND AUC_OBJ_DSC      =  #{auc_obj_dsc}
	              AND AUC_DT           	=  #{auc_dt}
	              AND SRA_INDV_AMNNO    =  #{sra_indv_amnno}
	              AND OSLP_NO		    =  #{oslp_no}
	    ]]>		   
    </update>
    
    <select id="LALM0219_selAucPrg" resultType="hashMap">
         SELECT COUNT(AUC_PRG_SQ) AS C_AUC_PRG_SQ
           FROM  TB_LA_IS_MH_SOG_COW
          WHERE 1 = 1
            AND NA_BZPLC    	= #{ss_na_bzplc}
            AND AUC_DT   		= #{auc_dt}
            AND OSLP_NO  		!= #{oslp_no}
            AND AUC_PRG_SQ  	= #{auc_prg_sq}
    </select>
</mapper>














