<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.ls.service.Impl.LALM1009Mapper">
	
	<select id="LALM1009_selList" resultType="hashMap">
	    SELECT
	          A.AUC_OBJ_DSC             /* 경매대상구분                            */
	        , A.AUC_PRG_SQ              /* 경매진행순서                            */	       
	        , CASE WHEN #{ss_security} = '1' THEN C.FTSNM
               WHEN LENGTH(C.FTSNM ) = 2 THEN SUBSTR(C.FTSNM ,1,1) || '*' 
               WHEN LENGTH(C.FTSNM ) = 3 THEN SUBSTR(C.FTSNM ,1,1) || '*' || SUBSTR(C.FTSNM ,3,1) 
               WHEN LENGTH(C.FTSNM ) = 4 THEN SUBSTR(C.FTSNM ,1,1) || '**' || SUBSTR(C.FTSNM ,4,1)  
               WHEN LENGTH(C.FTSNM ) >= 5 THEN SUBSTR(C.FTSNM ,1,2) || '**' || SUBSTR(C.FTSNM ,5,1)   END AS FTSNM   /* 축산중도매인명 */
	        , SUBSTR(A.SRA_INDV_AMNNO, 1, 3) || '-' ||  SUBSTR(A.SRA_INDV_AMNNO, 4, 3) || '-' ||  SUBSTR(A.SRA_INDV_AMNNO, 7, 9)  AS SRA_INDV_AMNNO        /* 축산개체관리번호(바코드, 귀표번호)      */
	        , SUBSTR(B.BIRTH, 1, 4) || '-' || SUBSTR(B.BIRTH, 5, 2) || '-' || SUBSTR(B.BIRTH, 7, 2)  AS BIRTH      /* 생년월일                                */
	        , B.INDV_SEX_C              /* 개체성별코드                            */
	        , RTRIM(B.KPN_NO) KPN_NO     /* PKN번호                                 */
	        , B.SRA_INDV_PASG_QCN       /* 계대                                    */
	        , B.MATIME                  /* 산차                                    */
	        , A.COW_SOG_WT              /* 우출하중량                              */
	        , A.LOWS_SBID_LMT_AM        /* 최저낙찰한도금액                        */
	        , A.SRA_SBID_AM             /* 축산낙찰금액                            */
	        , A.SEL_STS_DSC             /* 판매상태구분코드                        */
            , A.OSLP_NO                 /* 원표번호(경매번호)                      */
            , A.AUC_DT
            , TO_CHAR(A.LSCHG_DTM,'YYYY-MM-DD HH:MI:SS') LSCHG_DTM
            , A.CHG_PGID
            , A.CHG_RMK_CNTN
            , A.TRMN_AMNNO	       
	        , CASE WHEN #{ss_security} = '1' THEN DECODE(A.SEL_STS_DSC,'22',E.SRA_MWMNNM)
			  WHEN A.SEL_STS_DSC != '22' THEN NULL
              ELSE 	SUBSTR(E.SRA_MWMNNM,1,1)|| TRIM(LPAD(' ', LENGTH(E.SRA_MWMNNM) -1, '*')) || SUBSTR(E.SRA_MWMNNM,LENGTH(E.SRA_MWMNNM),1)   
			END AS SRA_MWMNNM   /* 축산중도매인명 */
	    FROM TB_LA_IS_MH_SOG_COW_LOG  A
	       , TB_LA_IS_MM_INDV   B
	       , TB_LA_IS_MM_FHS    C
	       , TB_LA_IS_MM_MWMN	E
	    WHERE A.NA_BZPLC            = #{ss_na_bzplc}
	      AND A.OSLP_NO	       		= #{oslp_no}
	      AND A.AUC_OBJ_DSC         = CASE WHEN #{auc_obj_dsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{auc_obj_dsc} END
	      AND A.AUC_DT              = #{auc_dt}
	      AND A.LSCHG_DTM <![CDATA[>=]]> (
			    SELECT TO_CHAR(A.LSCHG_DTM,'YYYY-MM-DD HH:MI:SS') LSCHG_DTM
			    <!-- SELECT A.LSCHG_DTM -->
			    FROM TB_LA_IS_MH_SOG_COW_LOG  A
			    WHERE A.NA_BZPLC            = #{ss_na_bzplc}
			      AND A.OSLP_NO	       		= #{oslp_no}
			      AND A.AUC_OBJ_DSC         = CASE WHEN #{auc_obj_dsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{auc_obj_dsc} END
			      AND A.AUC_DT              = #{auc_dt}
			      AND A.LED_SQNO            = 1
			      AND A.DEL_YN              = '0'       
			      AND A.SEL_STS_DSC != '11'
			      AND ROWNUM = '1' 
	      )
	      AND A.LED_SQNO            = 1
	      AND A.DEL_YN              = '0'                                /* 삭제건이 아닌건    */
	      AND A.NA_BZPLC            = B.NA_BZPLC
	      AND A.SRA_INDV_AMNNO      = B.SRA_INDV_AMNNO
	      AND A.SRA_SRS_DSC         = B.SRA_SRS_DSC
	      AND A.NA_BZPLC            = C.NA_BZPLC
	      AND A.FHS_ID_NO           = C.FHS_ID_NO
	      AND A.FARM_AMNNO          = C.FARM_AMNNO
	      AND A.NA_BZPLC			= E.NA_BZPLC(+)
	      AND A.TRMN_AMNNO			= E.TRMN_AMNNO(+)
	    ORDER BY A.LSCHG_DTM
	</select>
</mapper>