<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.co.service.Impl.LALM0125PMapper">

    <select id="LALM0125P_selList" resultType="hashMap">
    	/*LALM0125PMapper.LALM0125P_selList_20221122 수정*/
	    SELECT
	         A.TRMN_AMNNO
	        ,A.MWMN_NA_TRPL_C
	        ,A.SRA_MWMNNM
	        ,A.CUS_RLNO
	        ,A.ZIP
	        ,A.DONGUP
	        ,A.DONGBW
	        ,A.OHSE_TELNO
	        ,A.CUS_MPNO
	        ,A.MACO_YN
	        ,A.JRDWO_DSC
	        ,A.PSN_INF_OFR_AGR_YN
	        ,A.TMS_YN
	        ,A.DEL_YN
	        ,A.RMK_CNTN
	        ,A.SMS_NO
            ,A.MB_INTG_NO 
	        ,CASE 
	        	WHEN B.TRMN_AMNNO IS NULL THEN '0'
	            ELSE '1' 
             END  BAD_TRMN_AMNNO		/*해당 조합에 불량회원으로 등록되어 있는지 여부*/
            ,NVL(B.AUC_PART_LIMIT_YN, '1') AS AUC_PART_LIMIT_YN    /*해당 조합에서 경매참여제한으로 등록되어 있는지 여부 (1:참여가능, 0:참여불가능)*/
	    FROM TB_LA_IS_MM_MWMN A
		    LEFT OUTER JOIN TB_LA_IS_MM_BLACKLIST B
		    ON(  A.NA_BZPLC = B.NA_BZPLC
		    	AND A.TRMN_AMNNO = B.TRMN_AMNNO
		    	AND A.MB_INTG_NO      = B.MB_INTG_NO
		    	AND TO_CHAR(SYSDATE, 'YYYYMMDD') BETWEEN B.REG_DATE AND B.LIMIT_DATE
		    	AND B.DEL_YN = '0'
	        )
	    WHERE A.NA_BZPLC = #{ss_na_bzplc}
	       AND A.DEL_YN   = '0'
	       <if test='v_trmn_amnno == "1"'>
	           AND (A.TRMN_AMNNO       = #{sra_mwmnnm}
	            or #{sra_mwmnnm}       is null)
	       </if>	
	       <if test='v_trmn_amnno == "2"'>
		       AND A.SRA_MWMNNM LIKE '%' || #{sra_mwmnnm}  || '%' 
	       </if>	
    </select>    
</mapper>














