<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.co.service.Impl.LALM0222PMapper">

    <select id="LALM0222P_selTmpIndv" resultType="hashMap">
	    SELECT
	             A.NA_BZPLC                            /* 경제통합사업장코드                  */
	           , A.SRA_SRS_DSC                         /* 축산축종구분코드                    */
	           , A.SRA_INDV_AMNNO                      /* 축산개체관리번호                    */
	           , A.FHS_ID_NO                           /* 농가식별번호                        */
	           , A.FARM_AMNNO                          /* 농장관리번호                        */
	           , A.BIRTH                               /* 생년월일                            */
	           , A.MCOW_DSC                            /* 어미구분코드                        */
	           , A.KPN_NO                              /* KPN번호                             */
	           , A.INDV_SEX_C                          /* 개체성별코드                        */
	           , A.MCOW_SRA_INDV_AMNNO                 /* 어미소축산개체관리번호              */
	           , A.MATIME                              /* 산차                                */
	           , A.INDV_ID_NO                          /* 개체식별번호                        */
	           , A.SRA_INDV_BRDSRA_RG_NO               /* 축산개체종축등록번호                */
	           , A.RG_DSC	                            /* 등록구분코드                        */
	           , A.SRA_INDV_PASG_QCN                   /* 축산개체계대차수                    */
	           , A.ANW_YN                              /* 한우종합등록여부                    */
	       FROM TB_LA_IS_MM_INDV A
	       WHERE A.NA_BZPLC       = #{ss_na_bzplc}
     	<if test='sra_indv_amnno != null and sra_indv_amnno != ""'>
	         AND A.SRA_INDV_AMNNO = #{sra_indv_amnno}
     	</if>
     	<if test='sra_srs_dsc != null and sra_srs_dsc != ""'>
	         AND A.SRA_SRS_DSC    = #{sra_srs_dsc}
     	</if>         	       
    </select>
    
    <select id="LALM0222P_selTmpFhs" resultType="hashMap">
	    SELECT
                B.NA_BZPLC                            /* 경제통합사업장코드                  */
              , B.FHS_ID_NO                           /* 농가식별번호                        */
              , B.FARM_AMNNO                          /* 농장관리번호                        */
              , B.FARM_ID_NO                          /* 농장식별번호                        */
              , B.NA_TRPL_C                           /* 출하경제통합거래처코드              */
              , B.FTSNM                               /* 농가명                              */
              , B.ZIP                                 /* 우편번호                            */
              , B.DONGUP                              /* 동이상주소                          */
              , B.DONGBW                              /* 동이하주소                          */
              , B.OHSE_TELNO                          /* 자택전화번호                        */
              , B.CUS_MPNO                            /* 고객휴대전화번호                    */
              , B.MACO_YN                             /* 출하자조합원여부                    */
              , B.RMK_CNTN                            /* 비고내용                            */
              , B.DEL_YN                              /* 삭제여부                            */
              , B.JRDWO_DSC                           /* 관내외구분                          */
              , B.ANW_YN                              /* 한우종합등록여부                    */
              , B.SRA_FARM_ACNO                       /* 계좌번호                            */
          FROM TB_LA_IS_MM_FHS B
          WHERE B.NA_BZPLC       = #{ss_na_bzplc}
        <if test='fhs_id_no != null and fhs_id_no != ""'>
            AND B.FHS_ID_NO      = #{fhs_id_no}
        </if>
		<if test='farm_amnno != null and farm_amnno != ""'>
            AND B.FARM_AMNNO     = #{farm_amnno}
        </if>         	       
    </select>
    
    <insert id="LALM0222P_insIsMmIndv">
        INSERT INTO TB_LA_IS_MM_INDV
                (
                      NA_BZPLC                                                                                                                /* 경제통합사업장코드                  */
                    , SRA_INDV_AMNNO                                                                                                          /* 축산개체관리번호                    */
                    , SRA_SRS_DSC                                                                                                             /* 축산축종구분코드                    */
                    , FHS_ID_NO                                                                                                               /* 농가식별번호                        */
                    , FARM_AMNNO                                                                                                              /* 농장관리번호                        */
                    , BIRTH                                                                                                                   /* 생년월일                            */
                    , MCOW_DSC                                                                                                                /* 어미구분코드                        */
                    , KPN_NO                                                                                                                  /* KPN번호                             */
                    , INDV_SEX_C                                                                                                              /* 개체성별코드                        */
                    , MCOW_SRA_INDV_AMNNO                                                                                                     /* 어미소축산개체관리번호              */
                    , MATIME                                                                                                                  /* 산차                                */
                    , SRA_INDV_PASG_QCN                                                                                                       /* 축산개체계대차수                    */
                    , INDV_ID_NO                                                                                                              /* 개체식별번호                        */
                    , SRA_INDV_BRDSRA_RG_NO                                                                                                   /* 축산개체종축등록번호                */
                    , RG_DSC                                                                                                                  /* 등록구분코드                        */
                    , ANW_YN                                                                                                                  /* 한우종합등록여부                    */
                    , FSRG_DTM                                                                                                                /* 최초등록일시                        */
                    , FSRGMN_ENO                                                                                                              /* 최초등록자개인번호                  */
                    , LSCHG_DTM                                                                                                               /* 최종변경일시                        */
                    , LS_CMENO                                                                                                                /* 최종변경자개인번호                  */
                )VALUES(
                      #{ss_na_bzplc}                                                                                                        /* 경제통합사업장코드                  */
                    , #{sra_indv_amnno}                                                                                           /* 축산개체관리번호                    */
                    , #{sra_srs_dsc}                                                                                              /* 축산축종구분코드                    */
                    , #{fhs_id_no}                                                                                                /* 농가식별번호                        */
                    , #{farm_amnno}                                                                                               /* 농장관리번호                        */
                    , #{sra_indv_birth}                                                                              /* 생년월일                            */
                    , #{sra_indv_mcow_brdsra_rg_dsc}                                                                 /* 어미구분코드                        */
					, #{sra_kpn_no}                                                                            					 /* KPN번호                             */
                    , #{indv_sex_c}                                                                                  /* 개체성별코드                        */
                    , #{mcow_sra_indv_eart_no}                                                                       /* 어미소축산개체관리번호              */
                    <choose>
						<when test='sra_indv_mothr_matime == ""'>													/* 산차                                */
							, 0								
						</when>
						<otherwise>
							, #{sra_indv_mothr_matime}
						</otherwise>
					</choose>
                    <choose>
						<when test='sra_indv_pasg_qcn == ""'>													/* 축산개체계대차수                    */
							, 0								
						</when>
						<otherwise>
							, #{sra_indv_pasg_qcn}
						</otherwise>
					</choose>
                    , #{krbf_iprv_rg_no}                                                                                          /* 개체식별번호                        */
                    , #{sra_indv_brdsra_rg_no}                                                                                    /* 축산개체종축등록번호                */
                    , #{sra_indv_brdsra_rg_dsc}                                                                                   /* 등록구분코드                        */
                    , '1'                                                                                                                      /* 한우종합등록여부                    */
                    , SYSDATE                                                                                                                /* 최초등록일시                        */
                    , #{ss_userid}                                                                                                              /* 최초등록자개인번호                  */
                    , SYSDATE                                                                                                                /* 최종변경일시                        */
                    , #{ss_userid}                                                                                                             /* 최종변경자개인번호                  */
                )
    </insert>
    
    <insert id="LALM0222P_insIsMmFhs">
        INSERT INTO TB_LA_IS_MM_FHS
                (
                      NA_BZPLC                                                 /* 경제통합사업장코드                  */
                    , FHS_ID_NO                                                /* 농가식별번호                        */
                    , FARM_AMNNO                                               /* 농장관리번호                        */
                    , FARM_ID_NO                                               /* 농장식별번호                        */
                    , NA_TRPL_C                                                /* 출하경제통합거래처코드              */
                    , FTSNM                                                    /* 농가명                              */
                    , ZIP                                                      /* 우편번호                            */
                    , DONGUP                                                   /* 동이상주소                          */
                    , DONGBW                                                   /* 동이하주소                          */
                    , OHSE_TELNO                                               /* 자택전화번호                        */
                    , CUS_MPNO                                                 /* 고객휴대전화번호                    */
                    , MACO_YN                                                  /* 출하자조합원여부                    */
                    , RMK_CNTN                                                 /* 비고내용                            */
                    , JRDWO_DSC                                                /* 관내외구분                          */
                    , DEL_YN                                                   /* 삭제여부                            */
                    , ANW_YN                                                   /* 한우종합등록여부                    */
                    , FSRG_DTM                                                 /* 최초등록일시                        */
                    , FSRGMN_ENO                                               /* 최초등록자개인번호                  */
                    , LSCHG_DTM                                                /* 최종변경일시                        */
                    , LS_CMENO                                                 /* 최종변경자개인번호                  */
                    , NEW_SRA_FARM_ACNO                                        /* 선택시 계좌번호 저장                */
                )VALUES(
                      #{ss_na_bzplc}                                         /* 경제통합사업장코드                  */
                    , #{fhs_id_no}                                 /* 농가식별번호                        */
                    , #{farm_amnno}                                /* 농장관리번호                        */
                    , #{farm_id_no}                                /* 농장식별번호                        */
                    , #{na_trpl_c}                                 /* 출하경제통합거래처코드              */
                    , #{sra_fhsnm}                                 /* 농가명                              */
                    , replace(#{zip},'-','')                       /* 우편번호                            */
                    , #{sra_farm_dongup}                           /* 동이상주소                          */
                    , #{sra_farm_dongbw}                           /* 동이하주소                          */
                    , #{telno}                                     /* 자택전화번호                        */
                    , #{mpno}                                      /* 고객휴대전화번호                    */
                    , '0'                                                       /* 출하자조합원여부                    */
                    , #{rmk_cntn}                                  /* 비고내용                            */
                    , '2'                                                       /* 관내외구분                          */
                    , '0'                                                       /* 삭제여부                            */
                    , '1'                                                       /* 한우종합등록여부                    */
                    , SYSDATE                                                 /* 최초등록일시                        */
                    , #{ss_userid}                                               /* 최초등록자개인번호                  */
                    , SYSDATE                                                 /* 최종변경일시                        */
                    , #{ss_userid}                                               /* 최종변경자개인번호                  */
                    , #{sra_farm_acno}                             /* 선택시 계좌번호 저장                */
                )
    </insert>
    
    <update id="LALM0222P_updIsMmIndv">
    <![CDATA[
         UPDATE TB_LA_IS_MM_INDV SET
                      FHS_ID_NO             = #{fhs_id_no}                                                                                        /* 농가식별번호                        */
                    , FARM_AMNNO            = #{farm_amnno}                                                                                       /* 농장관리번호                        */
                    , BIRTH                 = #{sra_indv_birth}                                                                                   /* 생년월일                            */
                    , MCOW_DSC              = #{sra_indv_mcow_brdsra_rg_dsc}                                                                      /* 어미구분코드                        */
                    , KPN_NO                = #{sra_kpn_no}                                                                                  	  /* KPN번호                             */
                    , INDV_SEX_C            = #{indv_sex_c}                                                                                       /* 개체성별코드                        */
                    , MCOW_SRA_INDV_AMNNO   = #{mcow_sra_indv_eart_no}                                                                            /* 어미소축산개체관리번호              */
	]]>
                    <choose>
						<when test='sra_indv_mothr_matime == ""'>													/* 산차                                */
					, MATIME                =  0								
						</when>
						<otherwise>
					, MATIME                =  #{sra_indv_mothr_matime}
						</otherwise>
					</choose>
                    <choose>
						<when test='sra_indv_pasg_qcn == ""'>													/* 축산개체계대차수                    */
					, SRA_INDV_PASG_QCN     = 0								
						</when>
						<otherwise>
					, SRA_INDV_PASG_QCN     = #{sra_indv_pasg_qcn}
						</otherwise>
					</choose>
	
	<![CDATA[
                    , INDV_ID_NO            = #{krbf_iprv_rg_no}                                                                                  /* 개체식별번호                        */
                    , SRA_INDV_BRDSRA_RG_NO = #{sra_indv_brdsra_rg_no}                                                                            /* 축산개체종축등록번호                */
                    , RG_DSC                = #{sra_indv_brdsra_rg_dsc}                                                                           /* 등록구분코드                        */
                    , ANW_YN                = '1'                                                                                                              /* 한우종합등록여부                    */
                    , LSCHG_DTM             = SYSDATE                                                                                                        /* 최종변경일시                        */
                    , LS_CMENO              = #{ss_userid}                                                                                                     /* 최종변경자개인번호                  */
                WHERE NA_BZPLC       = #{ss_na_bzplc}
                  AND SRA_INDV_AMNNO = #{sra_indv_amnno}
                  AND SRA_SRS_DSC    = #{sra_srs_dsc}
    ]]>
    </update>
    
    <!-- 22-03-17 : 한우 종합에서 조회한 데이터에 휴대전화 번호가 없는 경우 저장하지 않도록 수정 -->
    <update id="LALM0222P_updIsMmFhs">
           UPDATE TB_LA_IS_MM_FHS SET
                      FARM_ID_NO  = #{farm_id_no}                            /* 농가식별번호                        */
                    , NA_TRPL_C   = #{na_trpl_c}                             /* 출하경제통합거래처코드              */
                    , FTSNM       = #{sra_fhsnm}                             /* 농가명                              */
	                <choose>
	                	<when test="buffer_1 != null and buffer_1 != ''">
			                <if test='!buffer_1.contains("A")'>
			                    , ZIP         = replace(#{zip},'-','')                   /* 우편번호                            */
			                    , DONGUP      = #{sra_farm_dongup}                       /* 동이상주소                          */
			                    , DONGBW      = #{sra_farm_dongbw}                       /* 동이하주소                          */
							</if>
							<if test='!buffer_1.contains("T")'>
			                    , OHSE_TELNO  = #{telno}                                 /* 자택전화번호                        */
			                </if>
			                <if test='!buffer_1.contains("H")'>
				                <if test='mpno != "" and mpno != null'>
				                    , CUS_MPNO    = #{mpno}                                  /* 고객휴대전화번호                    */
				                </if>
			                </if>
			                <if test='!buffer_1.contains("AC")'>
			                	, NEW_SRA_FARM_ACNO		= #{sra_farm_acno}
			                	, SRA_FARM_ACNO		= #{sra_farm_acno}
			                </if>
	                	</when>
	                	<otherwise>
		                    , ZIP         = replace(#{zip},'-','')                   /* 우편번호                            */
		                    , DONGUP      = #{sra_farm_dongup}                       /* 동이상주소                          */
		                    , DONGBW      = #{sra_farm_dongbw}          
		                    , OHSE_TELNO  = #{telno}              
		                    , CUS_MPNO    = #{mpno}                
			                <if test='mpno != "" and mpno != null'>
			                    , CUS_MPNO    = #{mpno}                                  /* 고객휴대전화번호                    */
			                </if>
		                	, NEW_SRA_FARM_ACNO		= #{sra_farm_acno}
		                	, SRA_FARM_ACNO			= #{sra_farm_acno}
	                	</otherwise>
	                </choose>
                    , MACO_YN     = #{maco_yn}                               /* 출하자조합원여부                    */
                    , RMK_CNTN    = #{rmk_cntn}                              /* 비고내용                            */
                    , JRDWO_DSC   = #{jrdwo_dsc}                             /* 관내외구분                          */
                    , DEL_YN      = '0'                                      /* 삭제여부                            */
                    , ANW_YN      = '1'                                      /* 한우종합등록여부                    */
                    , LSCHG_DTM   = SYSDATE                                  /* 최종변경일시                        */
                    , LS_CMENO    = #{ss_userid}                             /* 최종변경자개인번호                  */
                WHERE NA_BZPLC    = #{ss_na_bzplc}
                  AND FHS_ID_NO   = #{fhs_id_no}
                  AND FARM_AMNNO  = #{farm_amnno}
    </update>

    <select id="LALM0222P_selBmBzloc" resultType="hashMap">
	    SELECT
			NA_BZPLCNO
			, NA_BZPLCLOC
			, CLNTNM
			, NA_BZPLC
			, AREAORD
			, AREANM
			, AUC_DSC
			, LAT
			, LNG
			, AUC_YN
			, DEL_YN
			, FSRG_DTM
			, FSRGMN_ENO
			, LSCHG_DTM
			, LS_CMENO
			, RMK_CNTN
			, TEL_NO
			, KKO_SVC_ID
			, KKO_SVC_KEY
			, KKO_SVC_CNT
			, NET_HOST
			, NET_PORT
			, WEB_PORT
			, SMS_AUTH_YN
			, SMS_BUFFER_1
			, SMS_BUFFER_2	    
	       FROM TB_LA_IS_BM_BZLOC A
	       WHERE A.NA_BZPLC       = #{ss_na_bzplc}
    </select>
</mapper>














