<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.co.service.Impl.LALM0919Mapper">
    
    <select id="LALM0919_selMhSogCowStaticsList" resultType="java.util.LinkedHashMap">
    	SELECT NA_BZPLC
			, (SELECT CLNTNM FROM TB_LA_IS_BM_BZLOC WHERE NA_BZPLC = SOG.NA_BZPLC) AS CLNTNM 
			, AUC_DT
			, COUNT(*) AS FORW_CNT
			, COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) AS SEL_CNT
			, ROUND(COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) / COUNT(*), 2) * 100 || '%' AS SEL_PER
		 	, COUNT(DECODE(LVST_AUC_PTC_MN_NO, NULL, NULL, 1)) AS AUC_CNT
			, COUNT(CASE WHEN LVST_AUC_PTC_MN_NO IS NOT NULL AND SEL_STS_DSC = '22' THEN 1 ELSE NULL END) AS AUC_RCV_CNT
			, CASE WHEN 
				COUNT(DECODE(LVST_AUC_PTC_MN_NO, NULL, NULL, 1)) = 0 
					OR COUNT(CASE WHEN LVST_AUC_PTC_MN_NO IS NOT NULL AND SEL_STS_DSC = '22' THEN 1 ELSE NULL END) = 0
				THEN 0
				ELSE ROUND(COUNT(CASE WHEN LVST_AUC_PTC_MN_NO IS NOT NULL AND SEL_STS_DSC = '22' THEN 1 ELSE NULL END) / COUNT(DECODE(LVST_AUC_PTC_MN_NO, NULL, NULL, 1)), 2) * 100 
			  END || '%' AUC_RCV_PER
		FROM TB_LA_IS_MH_SOG_COW SOG
		WHERE NA_BZPLC = #{ss_na_bzplc}
			AND AUC_DT BETWEEN #{st_dt} AND #{en_dt}
			<if test="srch_auc_obj_dsc != null and srch_auc_obj_dsc != ''">
			AND AUC_OBJ_DSC = #{srch_auc_obj_dsc}
			</if>
		GROUP BY NA_BZPLC, AUC_DT
		ORDER BY AUC_DT
    </select>
    
    <select id="LALM0919_selMhSogCowRowDataList" resultType="java.util.LinkedHashMap">
    	SELECT SOG.AUC_DT 
			, SOG.AUC_OBJ_DSC	
			, SOG.AUC_PRG_SQ
			, CASE WHEN #{ss_security} = '1' THEN FHS.FTSNM
				ELSE SUBSTR(FHS.FTSNM,1,1) || LPAD('*',LENGTH(FHS.FTSNM)-2, '*') || SUBSTR(FHS.FTSNM, LENGTH(FHS.FTSNM), 1) 
			  END FTSNM
			, FHS.ZIP
			, FHS.DONGUP || ' ' 
				|| CASE WHEN #{ss_security} = '1' THEN FHS.DONGBW ELSE LPAD(' ', LENGTH(FHS.DONGBW), '*') END ADDRESS
			, SOG.SRA_INDV_AMNNO
			, INDV.BIRTH
			, INDV.MATIME
			, INDV.SRA_INDV_PASG_QCN
			, INDV.KPN_NO
			, INDV.RG_DSC
			, INDV.INDV_SEX_C
			, INDV.MCOW_SRA_INDV_AMNNO
			, INDV.MCOW_DSC 
			, SOG.COW_SOG_WT
			, SOG.LOWS_SBID_LMT_AM
			, SOG.SRA_SBID_AM 
			, SOG.SRA_SBID_UPR
			, SOG.RMHN_YN
			, VHC.VHC_DRV_CAFFNM
			, SOG.LVST_AUC_PTC_MN_NO
			, CASE WHEN #{ss_security} = '1' THEN MWN.SRA_MWMNNM
				ELSE SUBSTR(MWN.SRA_MWMNNM,1,1) || LPAD('*',LENGTH(MWN.SRA_MWMNNM)-2, '*') || SUBSTR(MWN.SRA_MWMNNM, LENGTH(MWN.SRA_MWMNNM), 1) 
			  END SRA_MWMNNM
			, CASE WHEN #{ss_security} = '1' THEN REGEXP_REPLACE(MWN.CUS_MPNO, '(.{3})(.*)(.{4})', '\1-\2-\3')
			  	ELSE REGEXP_REPLACE(MWN.CUS_MPNO, '(.{3})(.*)(.{4})', '\1-****-\3')
			  END CUS_MPNO
			, SOG.FEE_CHK_YN_FEE
			, SOG.SELFEE_CHK_YN_FEE  	
		FROM TB_LA_IS_MH_SOG_COW SOG
			LEFT OUTER JOIN TB_LA_IS_MM_FHS FHS
			ON(SOG.NA_BZPLC = FHS.NA_BZPLC
				AND SOG.FHS_ID_NO = FHS.FHS_ID_NO
				AND SOG.FARM_AMNNO = FHS.FARM_AMNNO
			)
			LEFT OUTER JOIN TB_LA_IS_MM_INDV INDV
			ON(SOG.NA_BZPLC = INDV.NA_BZPLC
				AND SOG.SRA_INDV_AMNNO = INDV.SRA_INDV_AMNNO
				AND SOG.SRA_SRS_DSC = INDV.SRA_SRS_DSC
			)
			LEFT OUTER JOIN TB_LA_IS_MM_MWMN MWN
			ON(SOG.NA_BZPLC = MWN.NA_BZPLC
				AND SOG.TRMN_AMNNO = MWN.TRMN_AMNNO
			)
			LEFT OUTER JOIN TB_LA_IS_MM_VHC VHC
		    ON(SOG.NA_BZPLC = VHC.NA_BZPLC
		    	AND SOG.VHC_SHRT_C = VHC.VHC_SHRT_C
		    )
		WHERE SOG.NA_BZPLC = #{ss_na_bzplc}
			AND SOG.LVST_AUC_PTC_MN_NO IS NOT NULL
			AND SOG.AUC_OBJ_DSC = #{srch_auc_obj_dsc}
			AND SOG.AUC_DT BETWEEN #{st_dt} AND #{en_dt}
    </select>
    
    <select id="LALM0919_selMhSogCowCntList" resultType="java.util.LinkedHashMap">
        SELECT AUC_DT
			, COUNT(*) AS FORW_CNT
			, COUNT(DECODE(AUC_OBJ_DSC, 1, 1, NULL)) AS FORW_CALF
			, COUNT(DECODE(AUC_OBJ_DSC, 2, 1, NULL)) AS FORW_NBFCT
			, COUNT(DECODE(AUC_OBJ_DSC, 3, 1, NULL)) AS FORW_PPGCOW
			, COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) AS SEL_CNT
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '1' THEN 1 ELSE NULL END) AS SEL_CALF
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '2' THEN 1 ELSE NULL END) AS SEL_NBFCT
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '3' THEN 1 ELSE NULL END) AS SEL_PPGCOW
			, ROUND(COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) / COUNT(*), 2) * 100 || '%' AS SEL_PER
		FROM TB_LA_IS_MH_SOG_COW
		WHERE NA_BZPLC = #{ss_na_bzplc}
			AND AUC_DT BETWEEN #{st_dt} AND #{en_dt}
		GROUP BY AUC_DT
		ORDER BY AUC_DT
    </select>
    
    <select id="LALM0919_selMhSogCowPriceList" resultType="java.util.LinkedHashMap">
    	SELECT AUC_DT
			, COUNT(*) AS FORW_CNT
			, COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) AS SEL_CNT
			, ROUND(COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) / COUNT(*), 3) * 100 || '%' AS SEL_PER
			, CASE WHEN COUNT(DECODE(V_FLAG,'F_CALF',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'F_CALF', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'F_CALF',1,NULL))) 
				END AVG_FCALF
			, CASE WHEN COUNT(DECODE(V_FLAG,'M_CALF',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'M_CALF', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'M_CALF',1,NULL))) 
				END AVG_MCALF
			, CASE WHEN COUNT(DECODE(V_FLAG,'F_NBFCT',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'F_NBFCT', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'F_NBFCT',1,NULL))) 
				END AVG_FNBFCT
			, CASE WHEN COUNT(DECODE(V_FLAG,'M_NBFCT',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'M_NBFCT', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'M_NBFCT',1,NULL))) 
				END AVG_MNBFCT
			, CASE WHEN COUNT(DECODE(V_FLAG,'PPGCOW',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'PPGCOW', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'PPGCOW',1,NULL))) 
				END AVG_PPGCOW					
		FROM (	      
			SELECT SOG.AUC_DT
				, SOG.SEL_STS_DSC
				, CASE WHEN IND.INDV_SEX_C IN ('1', '4', '6') THEN '1' ELSE '2' END INDV_SEX_C
				, SOG.AUC_OBJ_DSC
				, NVL(SOG.SRA_SBID_AM, 0) SRA_SBID_AM
				, CASE 
					WHEN SEL_STS_DSC = '22' 
					THEN 
						CASE 
						WHEN AUC_OBJ_DSC = '1' THEN
							CASE WHEN IND.INDV_SEX_C IN ('1','4','6') THEN 'F_CALF'
								ELSE 'M_CALF'
							END
						WHEN AUC_OBJ_DSC = '2' THEN 
							CASE WHEN IND.INDV_SEX_C IN ('1','4','6') THEN 'F_NBFCT'
								ELSE 'M_NBFCT'
							END
						ELSE 'PPGCOW'		
						END 
					ELSE 'NOTHING'
				END V_FLAG
			FROM TB_LA_IS_MH_SOG_COW SOG
				INNER JOIN TB_LA_IS_MM_INDV IND
				ON(SOG.NA_BZPLC = IND.NA_BZPLC
					AND SOG.SRA_INDV_AMNNO = IND.SRA_INDV_AMNNO
					AND SOG.SRA_SRS_DSC = IND.SRA_SRS_DSC
				)
			WHERE SOG.NA_BZPLC = #{ss_na_bzplc}
				AND SOG.AUC_DT BETWEEN #{st_dt} AND #{en_dt}	      
		)
		GROUP BY AUC_DT
    </select>
</mapper>
