<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.co.service.Impl.LALM0919Mapper">
    
    <select id="LALM0919_selMhSogCowCntList" resultType="java.util.LinkedHashMap">
        SELECT AUC_DT
			, COUNT(*) AS FORW_CNT
			, COUNT(DECODE(AUC_OBJ_DSC, 1, 1, NULL)) AS FORW_CALF
			, COUNT(DECODE(AUC_OBJ_DSC, 2, 1, NULL)) AS FORW_NBFCT
			, COUNT(DECODE(AUC_OBJ_DSC, 3, 1, NULL)) AS FORW_PPGCOW
			, COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) AS SEL_CNT
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '1' THEN 1 ELSE NULL END) AS SEL_CALF
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '2' THEN 1 ELSE NULL END) AS SEL_NBFCT
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '3' THEN 1 ELSE NULL END) AS SEL_PPGCOW
			, ROUND(COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) / COUNT(*), 2) * 100 || '%' AS SEL_PER
		FROM TB_LA_IS_MH_SOG_COW
		WHERE NA_BZPLC = #{ss_na_bzplc}
			AND AUC_DT BETWEEN #{st_dt} AND #{en_dt}
		GROUP BY AUC_DT
		ORDER BY AUC_DT
    </select>
    
    <select id="LALM0919_selMhSogCowPriceList" resultType="java.util.LinkedHashMap">
    	SELECT AUC_DT
			, COUNT(*) AS FORW_CNT
			, COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) AS SEL_CNT
			, ROUND(COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) / COUNT(*), 3) * 100 || '%' AS SEL_PER
			, CASE WHEN COUNT(DECODE(V_FLAG,'F_CALF',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'F_CALF', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'F_CALF',1,NULL))) 
				END AVG_FCALF
			, CASE WHEN COUNT(DECODE(V_FLAG,'M_CALF',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'M_CALF', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'M_CALF',1,NULL))) 
				END AVG_MCALF
			, CASE WHEN COUNT(DECODE(V_FLAG,'F_NBFCT',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'F_NBFCT', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'F_NBFCT',1,NULL))) 
				END AVG_FNBFCT
			, CASE WHEN COUNT(DECODE(V_FLAG,'M_NBFCT',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'M_NBFCT', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'M_NBFCT',1,NULL))) 
				END AVG_MNBFCT
			, CASE WHEN COUNT(DECODE(V_FLAG,'PPGCOW',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'PPGCOW', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'PPGCOW',1,NULL))) 
				END AVG_PPGCOW					
		FROM (	      
			SELECT SOG.AUC_DT
				, SOG.SEL_STS_DSC
				, CASE WHEN IND.INDV_SEX_C IN ('1', '4', '6') THEN '1' ELSE '2' END INDV_SEX_C
				, SOG.AUC_OBJ_DSC
				, NVL(SOG.SRA_SBID_AM, 0) SRA_SBID_AM
				, CASE 
					WHEN SEL_STS_DSC = '22' 
					THEN 
						CASE 
						WHEN AUC_OBJ_DSC = '1' THEN
							CASE WHEN IND.INDV_SEX_C IN ('1','4','6') THEN 'F_CALF'
								ELSE 'M_CALF'
							END
						WHEN AUC_OBJ_DSC = '2' THEN 
							CASE WHEN IND.INDV_SEX_C IN ('1','4','6') THEN 'F_NBFCT'
								ELSE 'M_NBFCT'
							END
						ELSE 'PPGCOW'		
						END 
					ELSE 'NOTHING'
				END V_FLAG
			FROM TB_LA_IS_MH_SOG_COW SOG
				INNER JOIN TB_LA_IS_MM_INDV IND
				ON(SOG.NA_BZPLC = IND.NA_BZPLC
					AND SOG.SRA_INDV_AMNNO = IND.SRA_INDV_AMNNO
					AND SOG.SRA_SRS_DSC = IND.SRA_SRS_DSC
				)
			WHERE SOG.NA_BZPLC = #{ss_na_bzplc}
				AND SOG.AUC_DT BETWEEN #{st_dt} AND #{en_dt}	      
		)
		GROUP BY AUC_DT
    </select>
</mapper>
