<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.co.service.Impl.LALM0221PMapper">

    <select id="LALM0221P_selList" resultType="hashMap">
	    SELECT
	          A.SRA_INDV_AMNNO               /* 축산개체관리번호                    */
	        , A.FHS_ID_NO                    /* 농가식별번호                        */
	        , A.FARM_AMNNO                   /* 농장관리번호                        */
	        , B.FTSNM                        /* 농가명                              */
	        , A.BIRTH                        /* 생년월일                            */
	        , A.MCOW_DSC                     /* 어미구분코드                        */
	        , A.KPN_NO                       /* KPN번호                             */
	        , A.INDV_SEX_C                   /* 개체성별코드                        */
	        , A.MCOW_SRA_INDV_AMNNO          /* 어미소축산개체관리번호              */
	        , A.MATIME                       /* 산차                                */
	        , A.SRA_INDV_PASG_QCN            /* 축산개체계대차수                    */
	        , A.INDV_ID_NO                   /* 개체식별번호                        */
	        , A.SRA_INDV_BRDSRA_RG_NO        /* 축산개체종축등록번호                */
	        , A.RG_DSC                       /* 등록구분코드                        */       
	        , A.SRA_SRS_DSC                  /* 축산축종구분코드                    */
	        , B.FARM_ID_NO                   /* 농장식별번호                        */
	        , B.NA_TRPL_C                    /* 출하경제통합거래처코드              */
	        , B.ZIP                          /* 우편번호                            */
	        , B.DONGUP                       /* 동이상주소                          */
	        , B.DONGBW                       /* 동이하주소                          */
	        , B.OHSE_TELNO                   /* 자택전화번호                        */
	        , B.CUS_MPNO                     /* 고객휴대전화번호                    */
	        , B.MACO_YN                      /* 출하자조합원여부                    */
	        , B.DEL_YN                       /* 삭제여부                            */
	        , B.JRDWO_DSC                    /* 관내외구분                          */
	        , B.SRA_FARM_ACNO                /* 계좌번호                            */
	        , B.SRA_FED_SPY_YN               /* 사료사용여부                        */
	       FROM TB_LA_IS_MM_INDV A
	          , TB_LA_IS_MM_FHS  B
	       WHERE A.NA_BZPLC       = #{ss_na_bzplc}  
	         /* AND A.SRA_INDV_AMNNO IN('410000116787336','410000116930555','410000115892037','410000115892095') */
	         AND A.NA_BZPLC       = B.NA_BZPLC
	         AND A.FHS_ID_NO      = B.FHS_ID_NO
	         AND A.FARM_AMNNO     = B.FARM_AMNNO
	         AND A.ANW_YN IN('1','9')
	         AND B.ANW_YN IN('1','9')	
	        <if test='hid_sra_indv_amnno_c == "1"'>
	           AND substr(A.SRA_INDV_AMNNO, 11, 4) = #{sra_indv_amnno}  
	        </if>	
	        <if test='hid_sra_indv_amnno_c == "2"'>
			   AND A.SRA_INDV_AMNNO LIKE '%' || #{sra_indv_amnno}  || '%' 
	        </if>
	        <if test='hid_sra_indv_amnno_c == "3"'>
			   AND A.SRA_INDV_AMNNO  = #{sra_indv_amnno}  
	        </if>         	       
    </select>    
</mapper>














