<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.co.service.Impl.LALM0919Mapper">
    
    <select id="LALM0919_selMhSogCowStaticsList" resultType="java.util.LinkedHashMap">
		SELECT T.*
			, CASE 
				WHEN AUC_CNT = 0 THEN 0
				ELSE ROUND(AUC_RCV_CNT/ AUC_CNT, 2) * 100 
			END || '%' AUC_RCV_PER
			, CASE 
				WHEN FORW_CNT = 0 THEN 0
				ELSE ROUND(SEL_CNT/ FORW_CNT, 2) * 100 
			END || '%' SEL_PER
		FROM	
		(	SELECT 
				A.NA_BZPLC
				, B.CLNTNM
				, A.AUC_DT 
				, COUNT(*) FORW_CNT
				, COUNT(DECODE(SEL_STS_DSC,'22',1)) SEL_CNT
				, SUM(NVL(C.ATDR_CNT,0)) AUC_CNT
				, COUNT(DISTINCT DECODE(A.SEL_STS_DSC,'22',A.TRMN_AMNNO)) AUC_RCV_CNT
			FROM TB_LA_IS_MH_SOG_COW A
			INNER JOIN TB_LA_IS_BM_BZLOC B ON A.NA_BZPLC = B.NA_BZPLC			
			LEFT OUTER JOIN (
				SELECT NA_BZPLC
						, AUC_OBJ_DSC
						, AUC_DT
						, OSLP_NO
						, TRMN_AMNNO
						, COUNT(*) ATDR_CNT
				FROM TB_LA_IS_MH_ATDR_LOG
				GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO, TRMN_AMNNO
			) C ON A.NA_BZPLC = C.NA_BZPLC
				AND A.AUC_OBJ_DSC = C.AUC_OBJ_DSC
				AND A.AUC_DT = C.AUC_DT
				AND A.OSLP_NO = C.OSLP_NO
				AND A.TRMN_AMNNO = C.TRMN_AMNNO
			WHERE A.NA_BZPLC = #{ss_na_bzplc}
			AND A.AUC_DT BETWEEN #{st_dt} AND #{en_dt}
			<if test="srch_auc_obj_dsc != null and srch_auc_obj_dsc != ''">
				AND A.AUC_OBJ_DSC = #{srch_auc_obj_dsc}
			</if>
			GROUP BY  A.NA_BZPLC,B.CLNTNM, A.AUC_DT 
		) T	
		ORDER BY T.AUC_DT
    </select>
    
    <select id="LALM0919_selMhSogCowRowDataList" resultType="java.util.LinkedHashMap">
    	SELECT SOG.AUC_DT 
			, SOG.AUC_OBJ_DSC	
			, SOG.AUC_PRG_SQ
			, CASE WHEN #{ss_security} = '1' THEN FHS.FTSNM
				ELSE SUBSTR(FHS.FTSNM,1,1) || LPAD('*',LENGTH(FHS.FTSNM)-2, '*') || SUBSTR(FHS.FTSNM, LENGTH(FHS.FTSNM), 1) 
			  END FTSNM
			, FHS.ZIP
			, FHS.DONGUP || ' ' 
				|| CASE WHEN #{ss_security} = '1' THEN FHS.DONGBW ELSE LPAD(' ', LENGTH(FHS.DONGBW), '*') END ADDRESS
			, SOG.SRA_INDV_AMNNO
			, INDV.BIRTH
			, INDV.MATIME
			, INDV.SRA_INDV_PASG_QCN
			, INDV.KPN_NO
			, INDV.RG_DSC
			, INDV.INDV_SEX_C
			, INDV.MCOW_SRA_INDV_AMNNO
			, INDV.MCOW_DSC 
			, SOG.COW_SOG_WT
			, SOG.LOWS_SBID_LMT_AM
			, SOG.SRA_SBID_AM 
			, SOG.SRA_SBID_UPR
			, SOG.RMHN_YN
			, VHC.VHC_DRV_CAFFNM
			, SOG.LVST_AUC_PTC_MN_NO
			, CASE WHEN #{ss_security} = '1' THEN MWN.SRA_MWMNNM
				ELSE SUBSTR(MWN.SRA_MWMNNM,1,1) || LPAD('*',LENGTH(MWN.SRA_MWMNNM)-2, '*') || SUBSTR(MWN.SRA_MWMNNM, LENGTH(MWN.SRA_MWMNNM), 1) 
			  END SRA_MWMNNM
			, CASE WHEN #{ss_security} = '1' THEN REGEXP_REPLACE(MWN.CUS_MPNO, '(.{3})(.*)(.{4})', '\1-\2-\3')
			  	ELSE REGEXP_REPLACE(MWN.CUS_MPNO, '(.{3})(.*)(.{4})', '\1-****-\3')
			  END CUS_MPNO
			, NVL(FEE_F.SRA_TR_FEE,0) FEE_CHK_YN_FEE
			, NVL(FEE_M.SRA_TR_FEE,0) SELFEE_CHK_YN_FEE  	
		FROM TB_LA_IS_MH_SOG_COW SOG
			LEFT OUTER JOIN TB_LA_IS_MM_FHS FHS
			ON(SOG.NA_BZPLC = FHS.NA_BZPLC
				AND SOG.FHS_ID_NO = FHS.FHS_ID_NO
				AND SOG.FARM_AMNNO = FHS.FARM_AMNNO
			)
			LEFT OUTER JOIN TB_LA_IS_MM_INDV INDV
			ON(SOG.NA_BZPLC = INDV.NA_BZPLC
				AND SOG.SRA_INDV_AMNNO = INDV.SRA_INDV_AMNNO
				AND SOG.SRA_SRS_DSC = INDV.SRA_SRS_DSC
			)
			LEFT OUTER JOIN TB_LA_IS_MM_MWMN MWN
			ON(SOG.NA_BZPLC = MWN.NA_BZPLC
				AND SOG.TRMN_AMNNO = MWN.TRMN_AMNNO
			)
			LEFT OUTER JOIN TB_LA_IS_MM_VHC VHC
		    ON(SOG.NA_BZPLC = VHC.NA_BZPLC
		    	AND SOG.VHC_SHRT_C = VHC.VHC_SHRT_C
		    )
			LEFT JOIN(
				SELECT
					NA_BZPLC
					, AUC_OBJ_DSC
					, AUC_DT
					, OSLP_NO
					, LED_SQNO
					, FEE_APL_OBJ_C
					, SUM(NVL(SRA_TR_FEE, 0)* DECODE(ANS_DSC, 1, 1, -1) ) AS SRA_TR_FEE
				FROM TB_LA_IS_MH_FEE_IMPS
				WHERE 1=1
				AND FEE_APL_OBJ_C = '1'
				AND NA_BZPLC = #{ss_na_bzplc}
				AND AUC_OBJ_DSC = #{srch_auc_obj_dsc}
				AND AUC_DT BETWEEN #{st_dt} AND #{en_dt}
				GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO, LED_SQNO, FEE_APL_OBJ_C
			) FEE_F	ON SOG.NA_BZPLC = FEE_F.NA_BZPLC
					AND SOG.AUC_OBJ_DSC = FEE_F.AUC_OBJ_DSC
					AND SOG.AUC_DT = FEE_F.AUC_DT
					AND SOG.OSLP_NO = FEE_F.OSLP_NO
					AND SOG.LED_SQNO = FEE_F.LED_SQNO
			LEFT JOIN(			
				SELECT
					NA_BZPLC
					, AUC_OBJ_DSC
					, AUC_DT
					, OSLP_NO
					, LED_SQNO
					, FEE_APL_OBJ_C
					, SUM(NVL(SRA_TR_FEE, 0)* DECODE(ANS_DSC, 1, 1, -1) ) AS SRA_TR_FEE
				FROM TB_LA_IS_MH_FEE_IMPS
				WHERE 1=1
				AND FEE_APL_OBJ_C = '2'
				AND NA_BZPLC = #{ss_na_bzplc}
				AND AUC_OBJ_DSC = #{srch_auc_obj_dsc}
				AND AUC_DT BETWEEN #{st_dt} AND #{en_dt}
				GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO, LED_SQNO, FEE_APL_OBJ_C
			) FEE_M ON SOG.NA_BZPLC = FEE_M.NA_BZPLC
					AND SOG.AUC_OBJ_DSC = FEE_M.AUC_OBJ_DSC
					AND SOG.AUC_DT = FEE_M.AUC_DT
					AND SOG.OSLP_NO = FEE_M.OSLP_NO
					AND SOG.LED_SQNO = FEE_M.LED_SQNO
		WHERE SOG.NA_BZPLC = #{ss_na_bzplc}
			AND SOG.LVST_AUC_PTC_MN_NO IS NOT NULL
			AND SOG.SEL_STS_DSC = '22'
			AND SOG.AUC_OBJ_DSC = #{srch_auc_obj_dsc}
			AND SOG.AUC_DT BETWEEN #{st_dt} AND #{en_dt}
    </select>
    
    <select id="LALM0919_selMhSogCowCntList" resultType="java.util.LinkedHashMap">
        SELECT AUC_DT
			, COUNT(*) AS FORW_CNT
			, COUNT(DECODE(AUC_OBJ_DSC, 1, 1, NULL)) AS FORW_CALF
			, COUNT(DECODE(AUC_OBJ_DSC, 2, 1, NULL)) AS FORW_NBFCT
			, COUNT(DECODE(AUC_OBJ_DSC, 3, 1, NULL)) AS FORW_PPGCOW
			, COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) AS SEL_CNT
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '1' THEN 1 ELSE NULL END) AS SEL_CALF
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '2' THEN 1 ELSE NULL END) AS SEL_NBFCT
			, COUNT(CASE WHEN SEL_STS_DSC = '22' AND AUC_OBJ_DSC = '3' THEN 1 ELSE NULL END) AS SEL_PPGCOW
			, ROUND(COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) / COUNT(*), 2) * 100 || '%' AS SEL_PER
		FROM TB_LA_IS_MH_SOG_COW
		WHERE NA_BZPLC = #{ss_na_bzplc}
			AND AUC_DT BETWEEN #{st_dt} AND #{en_dt}
		GROUP BY AUC_DT
		ORDER BY AUC_DT
    </select>
    
    <select id="LALM0919_selMhSogCowPriceList" resultType="java.util.LinkedHashMap">
    	SELECT AUC_DT
			, COUNT(*) AS FORW_CNT
			, COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) AS SEL_CNT
			, ROUND(COUNT(DECODE(SEL_STS_DSC, '22', 1, NULL)) / COUNT(*), 3) * 100 || '%' AS SEL_PER
			, CASE WHEN COUNT(DECODE(V_FLAG,'F_CALF',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'F_CALF', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'F_CALF',1,NULL))) 
				END AVG_FCALF
			, CASE WHEN COUNT(DECODE(V_FLAG,'M_CALF',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'M_CALF', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'M_CALF',1,NULL))) 
				END AVG_MCALF
			, CASE WHEN COUNT(DECODE(V_FLAG,'F_NBFCT',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'F_NBFCT', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'F_NBFCT',1,NULL))) 
				END AVG_FNBFCT
			, CASE WHEN COUNT(DECODE(V_FLAG,'M_NBFCT',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'M_NBFCT', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'M_NBFCT',1,NULL))) 
				END AVG_MNBFCT
			, CASE WHEN COUNT(DECODE(V_FLAG,'PPGCOW',1,NULL)) = 0 THEN 0
				ELSE 
					ROUND(SUM(DECODE(V_FLAG, 'PPGCOW', SRA_SBID_AM, 0)) / COUNT(DECODE(V_FLAG,'PPGCOW',1,NULL))) 
				END AVG_PPGCOW					
		FROM (	      
			SELECT SOG.AUC_DT
				, SOG.SEL_STS_DSC
				, CASE WHEN IND.INDV_SEX_C IN ('1', '4', '6') THEN '1' ELSE '2' END INDV_SEX_C
				, SOG.AUC_OBJ_DSC
				, NVL(SOG.SRA_SBID_AM, 0) SRA_SBID_AM
				, CASE 
					WHEN SEL_STS_DSC = '22' 
					THEN 
						CASE 
						WHEN AUC_OBJ_DSC = '1' THEN
							CASE WHEN IND.INDV_SEX_C IN ('1','4','6') THEN 'F_CALF'
								ELSE 'M_CALF'
							END
						WHEN AUC_OBJ_DSC = '2' THEN 
							CASE WHEN IND.INDV_SEX_C IN ('1','4','6') THEN 'F_NBFCT'
								ELSE 'M_NBFCT'
							END
						ELSE 'PPGCOW'		
						END 
					ELSE 'NOTHING'
				END V_FLAG
			FROM TB_LA_IS_MH_SOG_COW SOG
				INNER JOIN TB_LA_IS_MM_INDV IND
				ON(SOG.NA_BZPLC = IND.NA_BZPLC
					AND SOG.SRA_INDV_AMNNO = IND.SRA_INDV_AMNNO
					AND SOG.SRA_SRS_DSC = IND.SRA_SRS_DSC
				)
			WHERE SOG.NA_BZPLC = #{ss_na_bzplc}
				AND SOG.AUC_DT BETWEEN #{st_dt} AND #{en_dt}	      
		)
		GROUP BY AUC_DT
    </select>
    
    <select id="LALM0919_selMhSogCowList" resultType="hashMap">
    	SELECT A.NA_BZPLC                                         /* 경제통합사업장코드                    */
	          , A.AUC_OBJ_DSC                                      /* 경매대상구분코드                      */
	          , A.CASE_COW                                         /* 송아지구분                            */
	          , A.AUC_DT                                           /* 경매일자                              */
	          , A.OSLP_NO                                          /* 원표번호                              */
	          , A.LED_SQNO                                         /* 원장일련번호                          */
	          , A.FHS_ID_NO|| '-' || A.FARM_AMNNO AS FHS_ID_NO     /* 농가식별번호                          */
	          , A.FARM_AMNNO                                       /* 농장관리번호                          */
	          , A.SOG_NA_TRPL_C                                    /* 출하경제통합거래처코드                */
	          , A.VHC_SHRT_C                                       /* 차량단축코드                          */
	          , A.RC_DT                                            /* 접수일자                              */
	          , A.TRMN_AMNNO                                       /* 거래인관리번호                        */
	          , A.LVST_AUC_PTC_MN_NO                               /* 가축경매참여자번호                    */
	          , A.SRA_SRS_DSC                                      /* 축산축종구분코드                      */
	          , A.SRA_INDV_AMNNO                                   /* 축산개체관리번호                      */
	          , A.COW_SOG_WT                                       /* 우출하중량                            */
	          , A.FIR_LOWS_SBID_LMT_AM                             /* 최초최저낙찰한도금액                  */
	          , A.LOWS_SBID_LMT_AM                                 /* 최저낙찰한도금액                      */
	          , A.SRA_SBID_UPR                                     /* 축산낙찰단가                          */
	          , A.SRA_SBID_AM                                      /* 축산낙찰금액                          */
	          , A.SEL_STS_DSC                                      /* 판매상태구분코드                      */
	          , A.BRCL_ISP_CTFW_SMT_YN                             /* 브루셀라검사증명서제출여부            */
	          , A.BRCL_ISP_DT                                      /* 브루셀라검사일자                      */
	          , A.LWPR_CHG_NT                                      /* 최저가변경횟수                        */
	          , A.VACN_DT                                          /* 예방접종일자                          */
	          , A.LVST_MKT_TRPL_AMNNO                              /* 가축시장거래처관리번호                */
	          , A.MT12_OVR_YN                                      /* 12개월이상여부                        */
	          , A.MT12_OVR_FEE                                     /* 12개월이상수수료                      */
	          , A.PPGCOW_FEE_DSC                                   /* 번식우수수료구분코드                  */
	          , A.PRNY_JUG_YN                                      /* 임신감정여부                          */
	          , A.PRNY_YN                                          /* 임신여부                              */
	          , A.NCSS_JUG_YN                                      /* 괴사감정여부                          */
	          , A.NCSS_YN                                          /* 괴사여부                              */
	          , A.TRPCS_PY_YN                                      /* 운송비지급여부                        */
	          , A.SRA_TRPCS                                        /* 축산운송비                            */
	          , A.SRA_PYIVA                                        /* 축산납입출자금                        */
	          , A.SRA_FED_SPY_AM                                   /* 축산사료공급금액                      */
	          , A.TD_RC_CST                                        /* 당일접수비용                          */
	          , A.AFISM_MOD_DT                                     /* 인공수정일자                          */
	          , A.PRNY_MTCN                                        /* 임신개월수                            */
	          , A.AFISM_MOD_CTFW_SMT_YN                            /* 인공수정증명서제출여부                */
	          , A.RMHN_YN                                          /* 제각여부                              */
	          , CASE WHEN #{ss_security} = '1' THEN A.SRA_PDMNM
                     WHEN LENGTH(A.SRA_PDMNM) = 2 THEN SUBSTR(A.SRA_PDMNM,1,1) || '*' 
                     WHEN LENGTH(A.SRA_PDMNM) = 3 THEN SUBSTR(A.SRA_PDMNM,1,1) || '*'  || SUBSTR(A.SRA_PDMNM,3,1) 
                     WHEN LENGTH(A.SRA_PDMNM) = 4 THEN SUBSTR(A.SRA_PDMNM,1,1) || '**' || SUBSTR(A.SRA_PDMNM,4,1)  
                     WHEN LENGTH(A.SRA_PDMNM) >= 5 THEN SUBSTR(A.SRA_PDMNM,1,2) || '**' || SUBSTR(A.SRA_PDMNM,5,1)  END AS SRA_PDMNM /* 축산생산자명                          */
	          , A.SRA_PD_RGNNM                                     /* 축산생산지역명                        */
	          , A.RMK_CNTN                                         /* 비고내용                              */
	          , A.AUC_PRG_SQ                                       /* 경매진행순서                          */
	          , A.DEL_YN                                           /* 삭제여부                              */
	          , A.TMS_YN                                           /* 전송여부                              */
	          , TO_CHAR(A.FSRG_DTM,'YYYY-MM-DD HH24:MI:SS') AS FSRG_DTM /* 최초등록일시                          */
	          , A.FSRGMN_ENO                                       /* 최초등록자개인번호                    */
	          , B.BIRTH  AS FHS_BIRTH                              /* 농가 생년월일                         */
	          , CASE WHEN #{ss_security} = '1' THEN C.VHC_DRV_CAFFNM
                     WHEN LENGTH(C.VHC_DRV_CAFFNM) = 2 THEN SUBSTR(C.VHC_DRV_CAFFNM,1,1) || '*' 
                     WHEN LENGTH(C.VHC_DRV_CAFFNM) = 3 THEN SUBSTR(C.VHC_DRV_CAFFNM,1,1) || '*'  || SUBSTR(C.VHC_DRV_CAFFNM,3,1) 
                     WHEN LENGTH(C.VHC_DRV_CAFFNM) = 4 THEN SUBSTR(C.VHC_DRV_CAFFNM,1,1) || '**' || SUBSTR(C.VHC_DRV_CAFFNM,4,1)  
                     WHEN LENGTH(C.VHC_DRV_CAFFNM) >= 5 THEN SUBSTR(C.VHC_DRV_CAFFNM,1,2) || '**' || SUBSTR(C.VHC_DRV_CAFFNM,5,1)  END AS VHC_DRV_CAFFNM /* 수송자명                              */
	          , CASE WHEN A.NA_BZPLC IN ('8808990656946','8808990684321') THEN B.DONGUP||' '||B.DONGBW
                ELSE B.DONGUP END AS DONGUP                        /* 동이상주소 함안=8808990656946 보령=8808990684321 */
	          , B.DONGBW                                           /* 동이하주소                            */
	          , CASE WHEN #{ss_security} = '1' THEN B.FTSNM
                     WHEN LENGTH(B.FTSNM) = 2 THEN SUBSTR(B.FTSNM,1,1) || '*' 
                     WHEN LENGTH(B.FTSNM) = 3 THEN SUBSTR(B.FTSNM,1,1) || '*'  || SUBSTR(B.FTSNM,3,1) 
                     WHEN LENGTH(B.FTSNM) = 4 THEN SUBSTR(B.FTSNM,1,1) || '**' || SUBSTR(B.FTSNM,4,1)  
                     WHEN LENGTH(B.FTSNM) >= 5 THEN SUBSTR(B.FTSNM,1,2) || '**' || SUBSTR(B.FTSNM,5,1)  END AS FTSNM  /* 농가명                                */
	          , B.FHS_ID_NO                                        /* 농가코드                              */
	          , D.INDV_SEX_C                                       /* 개체성별코드                          */
	          , D.BIRTH                                            /* 생년월일                              */
	          , D.SRA_INDV_PASG_QCN                                /* 계대                                  */
	          , D.SRA_INDV_BRDSRA_RG_NO                            /* 축산개체종축등록번호                  */
	          , RTRIM(D.KPN_NO) AS KPN_NO                          /* KPN번호                               */
	          , D.MCOW_SRA_INDV_AMNNO                              /* 어미소축산개체관리번호                */
	          , D.MATIME                                           /* 산차                                  */
	          , D.RG_DSC                                           /* 등록구분                              */
	          , D.MCOW_DSC                                         /* 어미등록구분                          */
	          , A.MOD_KPN_NO                                       /* 수정KPN                               */
	          , B.MACO_YN                                          /* 출하자조합원여부                      */
	          , CASE WHEN #{ss_security} = '1' THEN E.SRA_MWMNNM
                     WHEN LENGTH(E.SRA_MWMNNM) = 2 THEN SUBSTR(E.SRA_MWMNNM,1,1) || '*' 
                     WHEN LENGTH(E.SRA_MWMNNM) = 3 THEN SUBSTR(E.SRA_MWMNNM,1,1) || '*'  || SUBSTR(E.SRA_MWMNNM,3,1) 
                     WHEN LENGTH(E.SRA_MWMNNM) = 4 THEN SUBSTR(E.SRA_MWMNNM,1,1) || '**' || SUBSTR(E.SRA_MWMNNM,4,1)  
                     WHEN LENGTH(E.SRA_MWMNNM) >= 5 THEN SUBSTR(E.SRA_MWMNNM,1,2) || '**' || SUBSTR(E.SRA_MWMNNM,5,1)  END AS SRA_MWMNNM  /* 축산중도매인명                        */
              , E.CUS_RLNO AS MWMN_CUS_RLNO /* 축산중도매인생년월일                        */
              , CASE WHEN #{ss_security} = '1' THEN REGEXP_REPLACE(E.CUS_MPNO, '(.{3})(.*)(.{4})', '\1-\2-\3')
				  	ELSE REGEXP_REPLACE(E.CUS_MPNO, '(.{3})(.*)(.{4})', '\1-****-\3')
				  END AS MWMN_CUS_MPNO /* 축산중도매인전화번호                        */
			  , E.DONGUP || ' ' || CASE WHEN #{ss_security} = '1' THEN E.DONGBW ELSE LPAD(' ', LENGTH(E.DONGBW), '*') END AS MWMN_ADDRESS /* 축산중도매인주소                        */
	          , CASE WHEN #{ss_security} = '1' OR LENGTH(F.BRKR_NAME) = 1 THEN F.BRKR_NAME
                     WHEN LENGTH(F.BRKR_NAME) = 2 THEN SUBSTR(F.BRKR_NAME,1,1) || '*' 
                     WHEN LENGTH(F.BRKR_NAME) = 3 THEN SUBSTR(F.BRKR_NAME,1,1) || '*'  || SUBSTR(F.BRKR_NAME,3,1) 
                     WHEN LENGTH(F.BRKR_NAME) = 4 THEN SUBSTR(F.BRKR_NAME,1,1) || '**' || SUBSTR(F.BRKR_NAME,4,1)  
                     WHEN LENGTH(F.BRKR_NAME) >= 5 THEN SUBSTR(F.BRKR_NAME,1,2) || '**' || SUBSTR(F.BRKR_NAME,5,1)  END AS BRKR_NAME /* 수의사                                */
	          , CASE WHEN A.NA_BZPLC = '8808990674605' THEN A.DNA_YN 
                     ELSE (CASE WHEN A.DNA_YN = '1' THEN '일치' ELSE '0' END)
                END  AS DNA_YN                                     /* 친자검사결과 홍천=8808990674605       */
	          , NVL(B.SRA_FED_SPY_YN, 0) AS SRA_FED_SPY_YN         /* 사료미사용여부                        */
	          , CASE WHEN (G.USRNM = '' OR G.USRNM IS NULL) THEN  'SYSTEM'
	            ELSE G.USRNM END AS USRNM                          /* 등록자                                */
	          , A.BRANDNM                                          /* 한우브랜드명                          */
	          , A.PDA_ID                                           /* PDAID                                 */
	          , A.DNA_YN_CHK                                       /* 친자검사여부                          */
	          , A.BOVINE_DT                                        /* 우결핵검사일                          */
	          , A.EPD_YN                                           /* 고능력여부                            */
	          , A.SPAY_YN                                          /* 난소적출 여부                         */
	          , CASE WHEN #{ss_security} = '1' THEN B.CUS_MPNO
                     WHEN LENGTH(REPLACE(RTRIM(B.CUS_MPNO),'-','')) = 9  THEN SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,2) || '-***-' || SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),6,4)  
                     WHEN LENGTH(REPLACE(RTRIM(B.CUS_MPNO),'-','')) = 10 THEN 
                    (CASE WHEN SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,2) = '02' 
                          THEN SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,2) || '-****-' || SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),7,4)
                     ELSE SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,3) || '-***-' || SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),7,4)  END) 
                     WHEN LENGTH(REPLACE(RTRIM(B.CUS_MPNO),'-','')) IN (11,12) THEN SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),1,3) || '-****-' || SUBSTR(REPLACE(RTRIM(B.CUS_MPNO),'-',''),8,4)                                             
                END AS CUS_MPNO                                    /* 출하주 핸드폰번호                     */
	          , B.JRDWO_DSC                                        /* 관내외구분                            */
	          , H.SRA_INDV_AMNNO AS INDV_AMNNO                     /* 딸린 송아지 개체 번호                 */
	          , CASE WHEN (B.SRA_FARM_ACNO = '' OR B.SRA_FARM_ACNO IS NULL) THEN
	                 CASE WHEN LENGTH(B.NEW_SRA_FARM_ACNO) = 12 THEN SUBSTR(B.NEW_SRA_FARM_ACNO,1,8)||'****'
	                      WHEN LENGTH(B.NEW_SRA_FARM_ACNO) = 13 THEN SUBSTR(B.NEW_SRA_FARM_ACNO,1,9)||'****'
	                      WHEN LENGTH(B.NEW_SRA_FARM_ACNO) = 14 THEN SUBSTR(B.NEW_SRA_FARM_ACNO,1,10)||'****'
	                      WHEN LENGTH(B.NEW_SRA_FARM_ACNO) = 15 THEN SUBSTR(B.NEW_SRA_FARM_ACNO,1,11)||'****'
	                      WHEN LENGTH(B.NEW_SRA_FARM_ACNO) = 16 THEN SUBSTR(B.NEW_SRA_FARM_ACNO,1,12)||'****'
	                      WHEN LENGTH(B.NEW_SRA_FARM_ACNO) = 17 THEN SUBSTR(B.NEW_SRA_FARM_ACNO,1,13)||'****'
	                      WHEN LENGTH(B.NEW_SRA_FARM_ACNO) >= 18 THEN SUBSTR(B.NEW_SRA_FARM_ACNO,1,14)||'****'
	                 ELSE B.NEW_SRA_FARM_ACNO
	                 END
	            ELSE
	                 CASE WHEN LENGTH(B.SRA_FARM_ACNO) = 12 THEN SUBSTR(B.SRA_FARM_ACNO,1,8)||'****'
	                      WHEN LENGTH(B.SRA_FARM_ACNO) = 13 THEN SUBSTR(B.SRA_FARM_ACNO,1,9)||'****'
	                      WHEN LENGTH(B.SRA_FARM_ACNO) = 14 THEN SUBSTR(B.SRA_FARM_ACNO,1,10)||'****'
	                      WHEN LENGTH(B.SRA_FARM_ACNO) = 15 THEN SUBSTR(B.SRA_FARM_ACNO,1,11)||'****'
	                      WHEN LENGTH(B.SRA_FARM_ACNO) = 16 THEN SUBSTR(B.SRA_FARM_ACNO,1,12)||'****'
	                      WHEN LENGTH(B.SRA_FARM_ACNO) = 17 THEN SUBSTR(B.SRA_FARM_ACNO,1,13)||'****'
	                      WHEN LENGTH(B.SRA_FARM_ACNO) >= 18 THEN SUBSTR(B.SRA_FARM_ACNO,1,14)||'****'
	                 ELSE B.SRA_FARM_ACNO
	                 END
	            END AS SRA_FARM_ACNO
	          , CASE WHEN TRUNC(MONTHS_BETWEEN(A.AUC_DT, D.BIRTH)) <![CDATA[<= 4]]> AND A.NA_BZPLC NOT IN ('8808990656199', '8808990656434')
                     THEN 4 
                ELSE TRUNC(MONTHS_BETWEEN(A.AUC_DT, D.BIRTH)) +1 END AS MTCN      /* 월령 의령=8808990656199  원주=8808990656434 */
	       FROM TB_LA_IS_MH_SOG_COW A
	       LEFT OUTER JOIN TB_LA_IS_MM_VHC C
	         ON C.NA_BZPLC            = A.NA_BZPLC
	        AND C.VHC_SHRT_C          = A.VHC_SHRT_C
	
	       LEFT OUTER JOIN TB_LA_IS_MM_MWMN E
	         ON A.NA_BZPLC            = E.NA_BZPLC
	        AND A.TRMN_AMNNO          = E.TRMN_AMNNO              /* 거래인관리번호              */
	
	       LEFT OUTER JOIN TB_LA_IS_MM_TRPL F
	         ON A.NA_BZPLC            = F.NA_BZPLC
	        AND A.LVST_MKT_TRPL_AMNNO = F.LVST_MKT_TRPL_AMNNO
	        AND F.LVST_MKT_TRPL_DSC   = '1'                       /*  수의사                    */
	
	       LEFT OUTER JOIN TB_LA_IS_MM_USR G
	         ON A.NA_BZPLC            = G.NA_BZPLC
	        AND A.FSRGMN_ENO          = G.USRID
	       LEFT OUTER JOIN TB_LA_IS_MH_CALF  H
	         ON A.NA_BZPLC            =  H.NA_BZPLC
	        AND A.AUC_OBJ_DSC         = H.AUC_OBJ_DSC
	        AND A.AUC_DT              = H.AUC_DT
	        AND A.OSLP_NO             = H.OSLP_NO
	        AND H.DEL_YN              = '0'
	        AND H.RG_SQNO             = 1
	          , TB_LA_IS_MM_FHS  B
	          , TB_LA_IS_MM_INDV D
	      WHERE A.NA_BZPLC            = #{ss_na_bzplc}
				AND A.AUC_DT		BETWEEN #{st_dt} and #{en_dt}
				<if test="srch_auc_obj_dsc != null and srch_auc_obj_dsc != ''">
					AND A.AUC_OBJ_DSC = #{srch_auc_obj_dsc}
				</if>
		       AND A.LED_SQNO             = '1'
		       AND A.DEL_YN               = '0'	
		       AND B.NA_BZPLC             = A.NA_BZPLC
		       AND B.FHS_ID_NO            = A.FHS_ID_NO
		       AND B.FARM_AMNNO           = A.FARM_AMNNO
		       AND A.NA_BZPLC             = D.NA_BZPLC
		       AND A.SRA_INDV_AMNNO       = D.SRA_INDV_AMNNO
		       AND A.SRA_SRS_DSC          = D.SRA_SRS_DSC
		     ORDER BY A.AUC_PRG_SQ
    </select>
</mapper>
