<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper  3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.auc.main.service.Impl.CommonMapper"><select id="Common_selBack" resultType="java.util.LinkedHashMap">#{query_text}</select><update id="Common_updBack">${query_text}</update><insert id="Common_insBack">${query_text}</insert><delete id="Common_delBack">${query_text}</delete></mapper>