<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.ab.service.Impl.LALM0321Mapper">

    <select id="LALM0321_selList" resultType="hashMap">
	    SELECT
	          D.AUC_PRG_SQ
	        , D.AUC_OBJ_DSC
	        , C.BRKR_NAME
	        , CASE A.AUC_OBJ_DSC WHEN '1' THEN A.RKON_AM /E.CALF_AUC_ATDR_UNT_AM
	                             WHEN '2' THEN A.RKON_AM /E.NBFCT_AUC_ATDR_UNT_AM
	                             ELSE A.RKON_AM          /E.PPGCOW_AUC_ATDR_UNT_AM
	          END AS RKON_AMA
	        , CASE WHEN A.LSCHG_DTM IS NULL THEN A.FSRG_DTM
	               ELSE A.LSCHG_DTM
	          END AS CHG_DTM
	        , A.OSLP_NO
	        , A.PDA_ID
	        , A.RKON_AM
	        , C.LVST_MKT_TRPL_AMNNO        
	    FROM TB_LA_IS_MH_PLA_PR  A
	       , TB_LA_IS_MH_RKON_CM B
	       , TB_LA_IS_MM_TRPL    C
	       , TB_LA_IS_MH_SOG_COW D
	       , TB_LA_IS_MM_ENV_EST E
	   WHERE A.NA_BZPLC                = #{ss_na_bzplc}
	     AND A.AUC_OBJ_DSC             = CASE WHEN #{auc_obj_dsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{auc_obj_dsc} END
	     AND A.AUC_DT                  = #{auc_dt}
	      AND A.NA_BZPLC               = B.NA_BZPLC
	      AND A.AUC_OBJ_DSC            = CASE WHEN B.AUC_OBJ_DSC = '0' THEN A.AUC_OBJ_DSC ELSE B.AUC_OBJ_DSC END
	      AND A.AUC_DT                 = B.AUC_DT
	      AND A.PDA_ID                 = B.PDA_ID
	      AND B.NA_BZPLC               = C.NA_BZPLC
	      AND B.LVST_MKT_TRPL_AMNNO    = C.LVST_MKT_TRPL_AMNNO
	      AND C.LVST_MKT_TRPL_DSC      = '2'
	      AND A.NA_BZPLC               = D.NA_BZPLC
	      AND A.AUC_OBJ_DSC            = D.AUC_OBJ_DSC
	      AND A.AUC_DT                 = D.AUC_DT
	      AND A.OSLP_NO                = D.OSLP_NO
	      AND A.NA_BZPLC               = E.NA_BZPLC
	      AND D.LED_SQNO               = 1
	      AND D.SEL_STS_DSC            = '11'
	    ORDER BY D.AUC_PRG_SQ, C.LVST_MKT_TRPL_AMNNO

    </select>
    
	<update id="LALM0321_updSogCowSjamr">
		<if test='ss_na_bzplc == "8808990656601"'>
		    UPDATE TB_LA_IS_MH_SOG_COW SET
		          FIR_LOWS_SBID_LMT_AM = CASE WHEN FIR_LOWS_SBID_LMT_AM = '0' THEN (SELECT CASE AUC_OBJ_DSC WHEN '1' THEN ROUND(AVG(RKON_AM / #{calf_auc_atdr_unt_am}))   * #{calf_auc_atdr_unt_am}
													                                 						  WHEN '2' THEN round( AVG(RKON_AM / 100 ))   * 100
													                                 						  ELSE  ROUND(AVG(RKON_AM / #{ppgcow_auc_atdr_unt_am}))   * #{ppgcow_auc_atdr_unt_am}
													                						                  END AS SANJUNGAVG
																						 FROM TB_LA_IS_MH_PLA_PR
																			             WHERE NA_BZPLC     = #{ss_na_bzplc}
																			               AND AUC_DT       = #{auc_dt}
																			               AND RKON_AM      > 0
																			             GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO)
		          							  ELSE FIR_LOWS_SBID_LMT_AM END
		        , LOWS_SBID_LMT_AM     = (SELECT CASE AUC_OBJ_DSC WHEN '1' THEN ROUND(AVG(RKON_AM / #{calf_auc_atdr_unt_am}))   * #{calf_auc_atdr_unt_am}
		                                 						  WHEN '2' THEN round( AVG(RKON_AM / 100 ))   * 100
		                                 						  ELSE  ROUND(AVG(RKON_AM / #{ppgcow_auc_atdr_unt_am}))   * #{ppgcow_auc_atdr_unt_am}
		                						                  END AS SANJUNGAVG
											 FROM TB_LA_IS_MH_PLA_PR
								             WHERE NA_BZPLC     = #{ss_na_bzplc}
								               AND AUC_DT       = #{auc_dt}
								               AND RKON_AM      > 0
								             GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO)
		    WHERE NA_BZPLC       = #{ss_na_bzplc}
		      AND AUC_DT         = #{auc_dt} 
		      AND AUC_OBJ_DSC    = CASE WHEN #{auc_obj_dsc} ='0' THEN AUC_OBJ_DSC ELSE #{auc_obj_dsc} END 
		      AND LED_SQNO       = 1
   		</if>
		<if test='ss_na_bzplc != "8808990656601"'>
		    UPDATE TB_LA_IS_MH_SOG_COW SET
		          FIR_LOWS_SBID_LMT_AM = CASE WHEN FIR_LOWS_SBID_LMT_AM = '0' THEN (SELECT CASE AUC_OBJ_DSC WHEN '1' THEN ROUND(AVG(RKON_AM / #{calf_auc_atdr_unt_am}))   * #{calf_auc_atdr_unt_am}
													                                 						  WHEN '2' THEN round( AVG(RKON_AM / #{nbfct_auc_atdr_unt_am} ))   * #{nbfct_auc_atdr_unt_am}
													                                 						  ELSE  ROUND(AVG(RKON_AM / #{ppgcow_auc_atdr_unt_am}))   * #{ppgcow_auc_atdr_unt_am}
													                						                  END AS SANJUNGAVG
																						 FROM TB_LA_IS_MH_PLA_PR
																			             WHERE NA_BZPLC     = #{ss_na_bzplc}
																			               AND AUC_DT       = #{auc_dt}
																			               AND RKON_AM      > 0
																			             GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO)
		          							  ELSE FIR_LOWS_SBID_LMT_AM END
		        , LOWS_SBID_LMT_AM     = (SELECT CASE AUC_OBJ_DSC WHEN '1' THEN ROUND(AVG(RKON_AM / #{calf_auc_atdr_unt_am}))   * #{calf_auc_atdr_unt_am}
		                                 						  WHEN '2' THEN round( AVG(RKON_AM / #{nbfct_auc_atdr_unt_am} ))   * #{nbfct_auc_atdr_unt_am}
		                                 						  ELSE  ROUND(AVG(RKON_AM / #{ppgcow_auc_atdr_unt_am}))   * #{ppgcow_auc_atdr_unt_am}
		                						                  END AS SANJUNGAVG
											 FROM TB_LA_IS_MH_PLA_PR
								             WHERE NA_BZPLC     = #{ss_na_bzplc}
								               AND AUC_DT       = #{auc_dt}
								               AND RKON_AM      > 0
								             GROUP BY NA_BZPLC, AUC_OBJ_DSC, AUC_DT, OSLP_NO)
		    WHERE NA_BZPLC       = #{ss_na_bzplc}
		      AND AUC_DT         = #{auc_dt} 
		      AND AUC_OBJ_DSC    = CASE WHEN #{auc_obj_dsc} ='0' THEN AUC_OBJ_DSC ELSE #{auc_obj_dsc} END 
		      AND LED_SQNO       = 1	
   		</if>   		
	</update>      
    
    
</mapper>














