<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.lalm.ab.service.Impl.LALM0313Mapper">

         <!--, 0 AS LOWS_SBID_LMT_AM_EX         /* 응찰하한가                  */-->
    <select id="LALM0313_selList" resultType="hashMap">
    <![CDATA[
        SELECT
                A.AUC_OBJ_DSC                    /* 경매대상구분                 */        
             ,  A.AUC_PRG_SQ                     /* 경매진행순서                 */ 
             , SUBSTR(A.SRA_INDV_AMNNO, 1, 3) || '-' ||  SUBSTR(A.SRA_INDV_AMNNO, 4, 3) || '-' ||  SUBSTR(A.SRA_INDV_AMNNO, 7, 9)  AS SRA_INDV_AMNNO            /* 축산개체관리번호(바코드, 귀표번호)   */ 
             , SUBSTR(B.BIRTH, 1, 4) || '-' || SUBSTR(B.BIRTH, 5, 2) || '-' || SUBSTR(B.BIRTH, 7, 2)  AS BIRTH                          /* 생년월일                   */ 
             , B.INDV_SEX_C                     /* 개체성별코드                 */ 
             , RTRIM(B.KPN_NO) AS KPN_NO        /* PKN번호                  */ 
             , B.SRA_INDV_PASG_QCN              /* 계대                     */ 
             , B.MATIME                         /* 산차                     */ 
             , SUBSTR(B.MCOW_SRA_INDV_AMNNO, 1, 3) || '-' ||  SUBSTR(B.MCOW_SRA_INDV_AMNNO, 4, 3) || '-' ||  SUBSTR(B.MCOW_SRA_INDV_AMNNO, 7, 9) AS MCOW_SRA_INDV_AMNNO
             , B.MCOW_DSC                       /* 어미구분코드                 */ 
             , A.COW_SOG_WT                     /* 우출하중량                  */
             , CASE WHEN A.AUC_OBJ_DSC = '1' THEN ROUND(A.LOWS_SBID_LMT_AM / NVL(J.CALF_AUC_ATDR_UNT_AM, 10000))
							WHEN A.AUC_OBJ_DSC = '2' THEN ROUND(A.LOWS_SBID_LMT_AM / NVL(J.NBFCT_AUC_ATDR_UNT_AM, 1))
							WHEN A.AUC_OBJ_DSC = '3' THEN ROUND(A.LOWS_SBID_LMT_AM / NVL(J.PPGCOW_AUC_ATDR_UNT_AM, 10000))
							ELSE ROUND(A.LOWS_SBID_LMT_AM / 10000)
						END AS LOWS_SBID_LMT_AM_EX 
             , #{trmn_amnno} TRMN_AMNNO                     /* 거래인관리번호                */ 
             , #{lvst_auc_ptc_mn_no} LVST_AUC_PTC_MN_NO             /* 가축경매참여자번호              */ 
             , #{sra_mwmnnm} SRA_MWMNNM                     /* 중도매인명                  */ 
             , NVL(C.ATDR_AM, 0) AS ATDR_AM     /* 최종응찰금액                 */ 
             , A.AUC_DT                         /* 경매일자                    */
             , A.OSLP_NO                        /* 원표번호                    */
        FROM   TB_LA_IS_MH_SOG_COW  A
				LEFT OUTER JOIN TB_LA_IS_MM_ENV_EST J
				  ON ( A.NA_BZPLC = J.NA_BZPLC )
               LEFT OUTER JOIN (SELECT A.NA_BZPLC
                                     , A.AUC_OBJ_DSC
                                     , A.AUC_DT
                                     , A.OSLP_NO
                                     , A.TRMN_AMNNO
                                     , A.LVST_AUC_PTC_MN_NO
                                     , A.RG_SQNO
                                     , A.ATDR_AM
                                     , B.SRA_MWMNNM
                                 FROM  TB_LA_IS_MH_ATDR_LOG A
                                    ,  TB_LA_IS_MM_MWMN     B
                                WHERE A.NA_BZPLC     = #{ss_na_bzplc}
                                  AND   A.AUC_OBJ_DSC  = CASE WHEN #{cb_auc_obj_dsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{cb_auc_obj_dsc} END
                                  AND   A.AUC_DT       = #{auc_dt}
                                  AND   A.NA_BZPLC     = B.NA_BZPLC
                                AND   A.TRMN_AMNNO   = B.TRMN_AMNNO)C  ON
                                      A.NA_BZPLC            = C.NA_BZPLC
                                AND   A.AUC_OBJ_DSC         = C.AUC_OBJ_DSC
                                AND   A.AUC_DT              = C.AUC_DT
                                AND   A.OSLP_NO             = C.OSLP_NO
                                AND   (C.TRMN_AMNNO          = #{trmn_amnno})            /* 거래인관리번호      */
                                AND   (C.LVST_AUC_PTC_MN_NO  = #{lvst_auc_ptc_mn_no})    /* 가축경매참여자번호 (추후 필수값으로 변경)   */
                                AND   C.RG_SQNO             = (SELECT MAX(RG_SQNO)
                                                               FROM   TB_LA_IS_MH_ATDR_LOG
                                                               WHERE  NA_BZPLC            = A.NA_BZPLC
                                                               AND    AUC_OBJ_DSC         = A.AUC_OBJ_DSC
                                                               AND    AUC_DT              = A.AUC_DT
                                                               AND    OSLP_NO             = A.OSLP_NO
                                                               AND    (TRMN_AMNNO          = #{trmn_amnno})
                                                               AND    (LVST_AUC_PTC_MN_NO  = #{lvst_auc_ptc_mn_no})
                                                               AND    MMO_INP_YN          = '1')
    
             , TB_LA_IS_MM_INDV     B
        WHERE A.NA_BZPLC            = #{ss_na_bzplc}
          AND A.AUC_OBJ_DSC         = CASE WHEN #{cb_auc_obj_dsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{cb_auc_obj_dsc} END
          AND A.AUC_DT              = #{auc_dt}
          AND A.LED_SQNO            = 1
          AND A.SEL_STS_DSC        <> '22'                               /* 낙찰건이 아닌건만 조회  */
          AND A.DEL_YN              = '0'                                /* 삭제건이 아닌건      */
          AND A.TMS_YN              = '0'
          AND A.NA_BZPLC            = B.NA_BZPLC
          AND A.SRA_INDV_AMNNO      = B.SRA_INDV_AMNNO
          AND A.SRA_SRS_DSC         = B.SRA_SRS_DSC
     ORDER BY A.AUC_OBJ_DSC , A.AUC_PRG_SQ
    ]]>
    </select>
    
    <insert id="LALM0313_insList">
            INSERT INTO TB_LA_IS_MH_ATDR_LOG(
                  NA_BZPLC                         /* 경제통합사업장코드                  */
                , AUC_OBJ_DSC                      /* 경매대상구분코드                    */
                , AUC_DT                           /* 경매일자                            */
                , OSLP_NO                          /* 원표번호                            */
                , TRMN_AMNNO                       /* 거래인관리번호                      */
                , RG_SQNO                          /* 등록일련번호                        */
                , LVST_AUC_PTC_MN_NO               /* 가축시장경매참여자번호              */
                , ATDR_AM                          /* 응찰금액                            */
                , RMK_CNTN                         /* 비고내용                            */
                , ATDR_DTM                         /* 응찰일시                            */
                , MMO_INP_YN                       /* 수기입력여부                        */
                , TMS_YN                           /* 전송여부                            */
            )
            VALUES (
                  #{ss_na_bzplc}                /* 경제통합사업장코드                  */
                , #{auc_obj_dsc}                /* 경매대상구분코드                    */
                , #{auc_dt}                    /* 경매일자                            */
                , #{oslp_no}                     /* 원표번호                            */
                , #{trmn_amnno}                /* 거래인관리번호                      */
                , (SELECT NVL(MAX(RG_SQNO)+1,1)
     		                FROM  TB_LA_IS_MH_ATDR_LOG
     		                WHERE NA_BZPLC    = #{ss_na_bzplc}
     		                AND   AUC_OBJ_DSC = #{auc_obj_dsc}
     		                AND   AUC_DT      = #{auc_dt}
     		                AND   OSLP_NO     = #{oslp_no}
     		                AND   TRMN_AMNNO  = #{trmn_amnno} )         /* 등록일련번호                        */
                , #{lvst_auc_ptc_mn_no}          /* 가축시장경매참여자번호              */
                , #{atdr_am}                     /* 응찰금액                            */
                , ''                               /* 비고내용                            */
                , SYSTIMESTAMP                     /* 응찰일시                            */
                , '1'                              /* 수기입력여부                        */
                , '0'                              /* 전송여부                            */
            )         
    </insert>    
    
</mapper>














